<!doctype html>
<title>Site Maintenance</title>
<link rel="stylesheet" href="https://dolce-gusto.sahabatnestlerewards.co.id/themes/dolcegusto/dist/fonts/stylesheet.css?pci9t7" media="all">
<style>
  body {     
    background: url(https://dolce-gusto.sahabatnestlerewards.co.id/themes/dolcegusto/img/full-banner.png) no-repeat;
    background-size: cover;
    background-position: 0px 20%;}
  h1 { font-size: 50px; }
  body { color: #333; }
  /*article { display: block; text-align: left; width: 650px; margin: 0 auto; }*/
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<!-- <article>
    <div style="text-align: center">
        <img style="display: inline-block;" src="https://www.dolce-gusto.co.id/skin/frontend/enterprise/ndg_2014/images/logo.png">
    </div>
    <div style="text-align: center; margin-top: 30px; line-height: 12px;">
        <strong>We're currently down for maintenance</strong>
        <p>We'll be back shortly! We apologize for any inconveniences</p>
    </div>
</article> -->