
<div class="header-overlay"></div>
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav-menu') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
<ul class="list-social">
            <li><a href="http://www.facebook.com/franknco/" class="btn-social" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com/franknco_id" class="btn-social" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://instagram.com/franknco_id" class="btn-social" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://www.youtube.com/channel/UC3egkiZUe0l8yxwLoGp__qQ" class="btn-social" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <div class="nav-footer">
            Frank &amp; Co. copyright &copy; 2016.<br>All Rights Reserved.
          </div>

