{% include directory ~ '/includes/header.html.twig' %}

{{ node.title.value }}<br>
{{ node.body.value }}<br>
{{ node.description.value }}<br>
{{ page.content }}

{% include directory ~ '/includes/footer.html.twig' %}