{% include directory ~ '/includes/header.html.twig' %}

<section>
	<div class="fullBox container">
    	<h2 class="title pink">{{ node.title.value }}</h2>
    	<div class="fullBox prizeWrapper">
    		{{ node.body.value|raw }}
        </div>
    </div>
    
</section>

{% include directory ~ '/includes/footer.html.twig' %}