{% include directory ~ '/includes/header.html.twig' %}

{{ node.title.value }}
{{ node.body.value }}
{{ node.description.value }}
{{ page.content }}

{% include directory ~ '/includes/footer.html.twig' %}