
{% include directory ~ '/includes/header.html.twig' %}
		<section>
            <div class="section_one">
                <div class="container">
                    <div class="home_banner">
                        <div class="owl-carousel owl-theme home_slider">
                            {% for ban in banner %}
                                <div class="hb_box">
                                    <a href="{{ ban.link }}"><img class="desktop" src="{{ apiurl }}uploads/{{ ban.image }}"><img class="mobile" src="{{ apiurl }}uploads/{{ ban.image_mobile }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_two {% if user_login %} afterLogin {% endif %}">
                <div class="container">
                    <div class="fullBox menu_nav">
                        {% if user_login %}
                            {% for ban_log in banner_login %}
                                <div class="menu_nav_box"><a href="{{ ban_log.link }}"><img src="{{ apiurl }}uploads/{{ ban_log.image }}"></a></div>
                            {% endfor %}

                        {% else %}
                            {% for ban_notlog in banner_notlogin %}
                                <div class="menu_nav_box"><a href="{{ ban_notlog.link }}"><img src="{{ apiurl }}uploads/{{ ban_notlog.image }}"></a></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

{% include directory ~ '/includes/footer.html.twig' %}
