{% include directory ~ '/includes/header.html.twig' %}
<br><br>

INI TERM<br><br>

{{ node.title.value }}<br>
{{ node.body.value }}<br>
{{ page.content }}<br>

<br><br>

{% include directory ~ '/includes/footer.html.twig' %}