@font-face {
  font-family: 'font-isys-fnco';
  src: url('../font/font-isys-fnco.eot?88845695');
  src: url('../font/font-isys-fnco.eot?88845695#iefix') format('embedded-opentype'),
       url('../font/font-isys-fnco.woff2?88845695') format('woff2'),
       url('../font/font-isys-fnco.woff?88845695') format('woff'),
       url('../font/font-isys-fnco.ttf?88845695') format('truetype'),
       url('../font/font-isys-fnco.svg?88845695#font-isys-fnco') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-isys-fnco';
    src: url('../font/font-isys-fnco.svg?88845695#font-isys-fnco') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-isys-fnco";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-diamond:before { content: '\e803'; } /* '' */
.icon-cart:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-wand:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-arrow-right:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-write:before { content: '\e80c'; } /* '' */
.icon-arrow-left:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-love:before { content: '\e80f'; } /* '' */
.icon-mail-open:before { content: '\e810'; } /* '' */
.icon-menu-close:before { content: '\e811'; } /* '' */