/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;margin:0;padding:0;}fieldset,img{display:block; border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*
	font-family:'GothamRounded-Book';
	font-family:'GothamRounded-Medium';
	font-family:'GothamRounded-Bold';
	font-family:'GothamRounded-Light';
*/
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
}
body{
	font-family:'GothamRounded-Book';
	font-size:14px;
	color:#5f5f5f;
	overflow-x:hidden;
}
a{
	text-decoration:none;
	outline:none;
	color:#5f5f5f;
}
.wrapper{
	width:100%;
	min-height:100vh;
	position:relative;
	overflow:hidden;
}
.fullBox{
	width:100%;
	display:block;
}
.fullBox:after{
	content:'';
	display:block;
	clear:both;
}
.halfBox{
	width:50%;
	float:left;
}
header{
	width:100%;
	height:85px;
	background:url(../images/bg_square.jpg) repeat top center;
	border-bottom:1px solid #dcdbeb;
}
.headerBox{
	max-width:960px;
	height:85px;
	margin:0 auto;
	position:relative;
}
#logo_sahabat{
	width:160px;
	height:39px;
	display:block;
	background:url(../images/logo_sahabat.png) no-repeat top center;
	position:absolute;
	top:50%;
	left:0;
	text-indent:-9999px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}
#logo_dolce,
#logo_big_dolce{
	width:58px;
	height:58px;
	display:block;
	background:url(../images/logo_dolcegusto.png) no-repeat top center;
	background-size:contain;
	position:absolute;
	top:50%;
	right:0;
	text-indent:-9999px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}
.navWrapper{
	width:100%;
}
#logo_big_dolce{
	width:88px;
	height:88px;
	right:auto;
	left:0;
}
.navBox{
	max-width:960px;
	height:125px;
	margin:0 auto;
	position:relative;
}
.navBox .halfBox{
	padding:10px 0 0;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.navWrapper .halfBox{
	width:75%;
}
.top_menu{
	margin-bottom:30px;
}
.top_menu .nav ul{
	float:right;
	padding-right:175px;
}
.top_menu .nav ul li{
	float:left;
	line-height:27px;
	font-family:'GothamRounded-Bold';
	font-size:12px;
	text-transform:uppercase;
	margin-right:10px;
	position:relative;
	background:#fff;
	padding:5px 0;
	color:#b0b0b0;
}
.top_menu .nav ul li a{
	color:#b0b0b0;
	padding:0 10px;
}
.top_menu .nav ul li.login_h:hover,
.top_menu .nav ul li.account_h:hover{
	box-shadow:0 0 5px #ddd;
}
.top_menu .nav ul li:hover .loginHoverWrapper,
.top_menu .nav ul li:hover .accountHoverWrapper{
	display:block;
}
.loginHoverWrapper,
.accountHoverWrapper{
	display:none;
	width:500px;
	padding:20px 0;
	background:#fff;
	position:absolute;
	top:36px;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:100;
	box-shadow:0 0 5px #ddd;
	line-height:normal;
	text-transform:none;
}
.accountHoverWrapper{
	width:380px;
}
.loginHoverWrapper .halfBox,
.accountHoverWrapper .halfBox{
	width:50%;
	padding:0 20px;
	color:#979797;
	font-family:'GothamRounded-Book';
	font-size:12px;
	border-right:1px solid #e1e1e1;
}
.loginHoverWrapper .halfBox:last-child,
.accountHoverWrapper .halfBox:last-child{
	border:none;
}
.accountHoverWrapper a{
	width:100%;
	display:block;
	line-height:30px !important;
	font-family:'GothamRounded-Bold';
	color:#525252 !important;
	font-size:13px;
	text-transform:uppercase;
	padding:0 !important;
}
.accountHoverWrapper .defBtn{
	margin:0 0 10px !important;
	text-align:left;
	padding-left:20px !important;
	font-size:11px !important
}
.loginHoverWrapper .halfBox span{
	min-height:35px;
	display:block;
	text-transform:uppercase;
	color:#525252;
	font-size:13px;
	font-family:'GothamRounded-Bold';
	margin-bottom:10px;
}
.loginHoverWrapper a{
	padding:0 !important;
}
.loginHoverWrapper a.forgetPassword{
	font-family:'GothamRounded-Book';
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.login_info{
	font-size:12px;
	font-family:'GothamRounded-Book';
	min-height:70px;
}
.login_info ol{
	list-style:disc;
	padding-left:10px;
}
.login_info ol li{
	float:none !important;
	line-height:normal !important;
	font-size:12px !important;
	font-family:'GothamRounded-Book' !important;
	text-transform:none !important;
	margin:0 0 5px !important;
	color:#979797 !important;
	padding:0 !important;
}
.login_info ol li:hover{
	box-shadow:none !important;
}
.loginHoverWrapper .defBtn{
	margin-bottom:0 !important;
}
.cartBtn{
	height:24px;
	display:block;
	background:url(../images/icon_cart.png) no-repeat top center;
	padding:0 0 0 45px !important;
	position:relative;
	top:1px;
	color:#38c6ea !important;
}
.searchBox{
	width:175px;
	height:27px;
	display:block;
	border:1px solid #e1e1e1;
	position:absolute;
	top:15px;
	right:0;
}
input[type="text"]{
	width:100%;
	height:25px;
	border:none;
	padding:0 37px 0 10px;
	font-family:'GothamRounded-Bold';
	color:#b0b0b0;
}
.searchBox button{
	width:27px;
	height:27px;
	display:block;
	position:absolute;
	top:-1px;
	right:0;
	border:none;
	background:#ffaa00 url(../images/icon_magnifier.png) no-repeat center center;
}
.bottom_menu{
	font-family:'GothamRounded-Bold';
	font-size:14px;
	text-transform:uppercase;
	float:right;
}
.bottom_menu ul li{
	float:left;
	margin-left:30px;
}
.bottom_menu ul li a{
	color:#979797;
}
section{
	width:100%;
}
.container{
	max-width:960px;
	margin:0 auto 40px;
}
.bannerWrapper{
	width:720px;
	height:370px;
	position:relative;
}
.memberBox{
	width:240px;
	padding-left:30px;
	padding-top:5px;
	padding-right:15px;
}
.memberTop{
	border-bottom:1px solid #c2c2c2;
}
.memberTop p{
	font-size:16px;
	margin-top:20px;
}
.step_number{
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
	display:inline-block;
	border-radius:25px;
	font-family:'GothamRounded-Bold';
	font-size:14px;
	margin-right:5px;
}
.blue .step_number{
	background:#00bff5;
	color:#fff;
}
.green .step_number{
	background:#8abb00;
	color:#fff;
}
.pink .step_number{
	background:#d62679;
	color:#fff;
}
.title_step{
	font-family:'GothamRounded-Bold';
	font-size:15px;
	text-transform:uppercase;
}
.blue .title_step{
	color:#00bff5;
}
.purple .title_step{
	color:#9927b0;
}
.green .title_step{
	color:#8abb00;
}
.pink .title_step{
	color:#d62679;
}
.defBtn{
	width:100%;
	height:30px;
	border-radius:5px;
	text-align:center;
	line-height:30px;
	display:block;
	font-family:'GothamRounded-Bold';
	color:#fff;
	text-transform:uppercase;
	margin:15px 0 30px;
}
.forgetPassword{
	margin-top:-20px;
	display:block;
	font-size:10px;
	color:#00bef3 !important;
	margin-bottom:20px;
}
.small.defBtn{
	width:90px;
	font-size:11px;
}
.pink .defBtn{
	background:#d82679;
	color:#fff !important;
}
.purple .defBtn{
	background:#7c14b7 !important;
	color:#fff !important;
}
.blue .defBtn{
	background:#00bff5 !important;
}
.purple .defBtn{
	background:#9927b0 !important;
}
.green .defBtn{
	background:#8abb00;
	color:#fff !important;
}
.gray .defBtn{
	background:#c2c2c2 !important;
	color:#fff;
}
.memberBottom{
	padding-top:20px;
}
.memberBottom p{
	margin-top:10px;
	font-size:16px;
}
.titleBox{
	text-align:center;
	overflow:hidden;
	margin-bottom:20px;
}
.titleBox h4{
	display:inline-block;
	position:relative;
}
.titleBox h4:before,
.titleBox h4:after {
  content: "";
  position: absolute;
  height:1px;
  border-bottom: 2px solid #dedede;
  top: 50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform:translateY(-50%);
  width: 600px;
}
.titleBox h4:before {
  right: 100%;
  margin-right: 15px;
}
.titleBox h4:after {
  left: 100%;
  margin-left: 15px;
}
.regMachineWrapper,
.uploadRecWrapper{
	width:100%;
	height:94px;
	background:#cdca01;
	text-align:left;
	padding:0 60px;
	color:#fff;
	margin-bottom:10px;
	position:relative;
}
.uploadRecWrapper{
	background:#00bef3;
}
.regMachineWrapper span,
.uploadRecWrapper span{
	font-family:'GothamRounded-Bold';
	text-transform:uppercase;
	font-size:15px;
	line-height:94px;
	background:url(../images/icon_reg_machine.png) no-repeat left center;
	padding:20px 0 20px 60px;
}
.uploadRecWrapper span{
	background:url(../images/icon_upload_receipt.png) no-repeat left center;
}
.uniqueCodeBox{
	width:315px;
	height:35px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	margin-left:250px;
	border:1px solid #e1e1e1;
}
.uniqueCodeBox input[type="text"]{
	height:33px;
	font-size:12px;
	padding-right:45px;
}
.uniqueCodeBox .submitBtn{
	width:35px;
	height:35px;
	display:block;
	position:absolute;
	top:-1px;
	right:-1px;
	background:#8bb900;
	color:#fff;
	text-align:center;
	line-height:35px;
}
.uploadRecBtn{
	width:170px;
	height:30px;
	display:block;
	border-radius:5px;
	background:#f8f8f8;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	margin-left:180px;
	color:#00bdf4;
	text-align:center;
	line-height:30px;
	font-size:11px;
	text-transform:uppercase;
	font-family:'GothamRounded-Bold';
}
.prizeWrapper{
	margin-bottom:20px;
}
.prizeBox{
	width:235px;
	margin-right:6.6667px;
	margin-bottom:10px;
}
.prizeBox:nth-child(4n){
	margin-right:0;
}
.prizeImageBox{
	width:100%;
	padding-bottom:100%;
	position:relative;
	overflow:hidden;
}
.prizeImage{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.prizeTitle a{
	width:100%;
	height:66px;
	position:relative;
	display:block;
}
.prizeImage img{
	width:100%;
}
.prizeTitle span{
	width:100%;
	padding:0 20px;
	font-family:'GothamRounded-Medium';
	font-size:13px;
	color:#fff;
	position:absolute;
	top:50%;
	text-align:center;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	text-transform:uppercase;
}
.blue .prizeTitle{
	background:#00bef3;
}
.green .prizeTitle{
	background:#cdca00;
}
.pink .prizeTitle{
	background:#d82679;
}
.brown .prizeTitle{
	background:#522d00;
}
.gray .prizeTitle{
	background:#dddddd;
}
.gray .prizeTitle span{
	color:#5f5f5f;
}
.viewMore{
	width:180px;
	height:30px;
	margin:0 auto;
	display:block;
	border:1px solid #acacac;
	border-radius:5px;
	font-size:11px;
	text-transform:uppercase;
	background:#fff;
	color:#5f5f5f;
	font-family:'GothamRounded-Bold';
}
h2.title{
	font-size:40px;
	color:#4e291b;
	text-transform:uppercase;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
h2.title.pink{
	color:#d82679;
	margin-bottom:10px;
}
span.reward{
	font-size:14px;
	color:#484848;
	margin-bottom:30px;
	display:block;
	text-align:center;
}
.titleBar{
	width:100%;
	height:45px;
	line-height:45px;
	font-size:20px;
	padding:0 20px;
	color:#fff;
	margin:0 0 20px;
}
.green .titleBar{
	background:#cdca00;
}
.personalData.pink .titleBar{
	background:#d82679 url(../images/icon_minus.png) no-repeat right 20px center;
}
.aboutMe.blue .titleBar{
	background:#00bef3 url(../images/icon_minus.png) no-repeat right 20px center;
}
.personalData.pink .titleBar.closed{
	background:#d82679 url(../images/icon_plus.png) no-repeat right 20px center;
}
.aboutMe.blue .titleBar.closed{
	background:#00bef3 url(../images/icon_plus.png) no-repeat right 20px center;
}
.personalData{
	margin-bottom:30px;
}
span.info{
	width:100%;
	display:block;
	font-size:12px;
	color:#484848;
	margin:0 0 5px;
}
.registerBox .halfBox{
	padding:0 0 0 15px;
}
.register{
	margin-bottom:10px;
}
.one_columns{
	width:100%;
	padding-right:15px;
}
.two_columns{
	width:50%;
	float:left;
	padding-right:15px;
}
.three_columns{
	width:33.3333%;
	float:left;
	padding-right:15px;
}
.register input[type="text"],
.register input[type="password"],
.register textarea{
	width:100%;
	height:32px;
	border:1px solid #b7b7b7;
	font-family:'GothamRounded-Book';
	font-size:12px;
	color:#5f5f5f;
	padding:0 10px;
}
.register textarea{
	height:127px;
	resize:none;
	padding:10px;
}
.register.check{
	font-size:12px;
	position:relative;
	padding-left:20px;
	padding-right:15px;
}
.editProfile .register.check input[type="checkbox"]{
	top:0;
}
.register.check input[type="checkbox"]{
	position:absolute;
	top:20px;
	left:0;
}
.register.check a{
	text-decoration:underline;
}
.register p{
	font-size:11px;
	color:#979797;
	margin:5px 0 0;
}
span.info span{
	color:#979797;
}
.select2-container{
	width:100% !important;
	font-family:'GothamRounded-Book';
	color:#5f5f5f;
}
.select2-container--default .select2-selection--single{
	border:1px solid #b7b7b7 !important;
	border-radius:0 !important;
	height:32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:32px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	width:26px;
	border-left:1px solid #b7b7b7;
	background:#ebebeb;
	height:30px;

}
.statusWrapper{
	border:1px solid #b7b7b7;
}
.statusBox{
	width:112px;
	border-right:1px solid #b7b7b7;
	float:left;
	position:relative;
}
.statusBox:last-child{
	border-right:none;
}
.statusImage{
	width:112px;
	height:112px;
	display:block;
	overflow:hidden;
	position:relative;
}
.statusImage img{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.statusInfo{
	height:30px;
	line-height:30px;
	width:100%;
	text-align:center;
	border-top:1px solid #b7b7b7;
	font-size:11px;
	color:#000;
}
.statusBox input[type="radio"]{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	opacity:0;
}
.statusBox input[type="radio"]:checked + .statusImage{
	border:5px solid #00bef3;
	background:#f9f9f9;
}
.statusBox input[type="radio"]:checked ~ .statusInfo{
	background:#00bef3;
	color:#fff;
	border:none;
}
.hobbiesWrapper{
	margin-top:25px;
}
.hobbiesBox{
	width:80px;
	height:115px;
	float:left;
	margin-right:12px;
	margin-bottom:12px;
	position:relative;
}
.hobbiesBox:nth-child(5n){
	margin-right:0;
}
.hobbiesBox input[type="checkbox"]{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	opacity:0;
}
.hobbiesBox input[type="checkbox"]:checked + .hobbiesImage{
	border:5px solid #00bef3;
	border-bottom:none;
	background:#f9f9f9;
}
.hobbiesBox input[type="checkbox"]:checked ~ .hobbiesInfo{
	border:5px solid #00bef3;
	border-top:none;
	background:#f9f9f9;
}
.hobbiesImage{
	width:100%;
	height:85px;
	overflow:hidden;
	position:relative;
	border:1px solid #b7b7b7;
	border-bottom:none;
}
.hobbiesImage img{
	max-width:100%;
	max-height:100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	z-index:50;
}
.hobbiesInfo{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:11px;
	border:1px solid #b7b7b7;
	border-top:none;
	color:#000;
}
.aboutMe .medium.defBtn{
	width:150px;
	margin:30px 15px 0 0;
	line-height:38px;
	height:38px;
}
.r_machineBox h3{
	font-size:30px;
	color:#484848;
	font-family:'GothamRounded-Light';
	margin-bottom:20px;
}
.r_machineBox h3 span{
	font-family:'GothamRounded-Book';
	text-transform:uppercase;
	display:block;
}
.r_machineBox .halfBox{
	padding:0 15px;
}
.r_machineBox p{
	font-size:12px;
	color:#484848;
	margin-bottom:5px;
}
.submitCodeBox input[type="text"]{
	border:1px solid #bcbcbc;
	height:34px;
	padding:0 10px;
	color:#979797;
}
.r_machineBox .halfBox img{
	display:block;
	margin:0 auto;
}
.register.special.machine{
	float:none;
	margin-bottom:30px;
}
.machine_list{
	padding:0 15px;
	margin-bottom:40px;
}
.redBtn,
.greenBtn{
	width:10px;
	height:10px;
	background:#bc332d;
	display:inline-block;
	border-radius:8px;
	margin:0 5px 0 20px;
}
.greenBtn{
	background:#cdca00;
}
.ml_title{
	margin-bottom:10px;
}
.machineListBox{
	width:142px;
	float:left;
	position:relative;
	margin-right:15px;
	margin-bottom:15px;
}
.machineListBox:nth-child(6n){
	margin-right:0;
}
.machineListImg{
	width:142px;
	height:115px;
	display:block;
	overflow:hidden;
	position:relative;
	border:1px solid #b7b7b7;
	border-bottom:none;
}
.machineListInfo{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#909090;
	font-size:11px;
	text-transform:uppercase;
	border:1px solid #b7b7b7;
	border-top:none;
}
.machineListBox .redBtn,
.machineListBox .greenBtn{
	margin:0;
	position:absolute;
	top:7px;
	right:7px;
}
.machineListBox input[type="radio"]{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	opacity:0;
}
.machineListImg img{
	max-width:100%;
	max-height:100%;
	position:absolute;
	bottom:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
}
.machineListBox input[type="radio"]:checked + .machineListImg{
	border:5px solid #00bef3;
	border-bottom:none;
}
.machineListBox input[type="radio"]:checked ~ .machineListInfo{
	border:5px solid #00bef3;
	border-top:none;
}
.regMacBtn,
.cancelBtn{
	width:160px;
	height:36px;
	margin:30px 10px 0;
	line-height:36px;
	display:inline-block;
	background:#9927b0 !important;
}
.cancelBtn{
	background:#c2c2c2 !important;
}
.r_machineBox .small.defBtn{
	width:120px;
}
.thankyou .halfBox:first-child{
	padding-top:20px;
	padding-right:60px;
}
.center{
	text-align:center;
}
.myAccount{
	padding-top:40px;
}
.sideMenuWrapper{
	width:235px;
	margin-right:50px;
	float:left;
}
.sideMenuWrapper ul li a,
.resultMenu{
	width:100%;
	display:block;
	background:#dddddd;
	line-height:40px;
	font-family:'GothamRounded-Medium';
	font-size:13px;
	text-transform:uppercase;
	text-align:center;
	color:#5f5f5f;
	border-bottom:1px solid #fff;
}
.sideMenuWrapper ul li a.selected,
.sideMenuWrapper ul li a:hover,
.resultMenu{
	font-family:'GothamRounded-Bold';
	color:#fff;
	background:#00b9e6;
}
.resultMenu{
	background:#00b9e6 url(../images/icon_arrow_bottom_white.png) no-repeat right 20px center;
	background-size:18px;
}
.resultMenu.open{
	background:#00b9e6 url(../images/icon_arrow_top_white.png) no-repeat right 20px center;
	background-size:18px;
}
.sideContentWrapper{
	float:left;
	width:675px;
	position:relative;
}
.sideContentWrapper h3,
.sideMenuWrapper h3{
	font-size:35px;
	text-transform:uppercase;
	color:#464646;
	margin-bottom:15px;
}
.myName{
	font-size:25px;
	color:#00b9e6;
	margin-bottom:20px;
	display:block;
}
.sideContentWrapper table{
	width:75%;
	margin-bottom:20px;
}
.sideContentWrapper table tr td:first-child{
	width:150px;
}
.sideContentWrapper table tr td:nth-child(2n){
	width:5px;
}
.sideContentWrapper table tr td:last-child{
	padding-left:5px;
}
.sideContentWrapper table tr td{
	padding-bottom:10px;
	vertical-align:top;
}
.editBtn{
	width:135px;
	height:32px;
	border:1px solid #d7d7d7;
	color:#00b9e6;
	font-size:13px;
	text-align:center;
	text-transform:uppercase;
	border-radius:5px;
	font-family:'GothamRounded-Bold';
	line-height:30px;
	display:block;
}
.pointBalance{
	margin:30px 0 0;
	padding:20px 0 0;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
}
.pointBalance table{
	margin-bottom:10px;
}
.sideContentWrapper table .blue{
	color:#00b9e6;
	font-family:'GothamRounded-Bold';
	font-size:15px;
}
.sideContentWrapper .r_machineBox{
	margin-bottom:20px;
}
.sideContentWrapper .r_machineBox h3{
	text-transform:none;
}
.sideContentWrapper .r_machineBox h3 span{
	margin-bottom:15px;
}
.sideContentWrapper .machine_list{
	padding:0;
}
.sideContentWrapper .machineListBox:nth-child(6n){
	margin-right:15px;
}
.left{
	text-align:left;
}
.left .cancelBtn{
	margin-left:0;
}
.small_70{
	width:70%;
	float:left;
}
.small_30{
	width:30%;
	float:left;
}
.small_30 img{
	position:relative;
	margin-top:50px;
}
.uploadWrapper{
	width:147px;
	height:157px;
	position:absolute;
	top:78px;
	right:50px;
	border:1px solid #999;
	border-radius:5px;
}
.uploadWrapper input[type="file"]{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
.uploadBox{
	height:155px;
	background:url(../images/icon_upload.png) top 20px left 45px no-repeat;
	padding-top:110px;
	text-align:center;
}
.previewBox{
	width:145px;
	height:155px;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	border-radius:5px;
	background:#fff;
}
.previewBox img{
	width:100%;
	border-radius:5px;
}
.previewBox span{
	position:absolute;
	top:-20px;
	right:0px;
	cursor:pointer;
}
.summaryWrapper{
	max-width:620px;
	padding-top:30px;
	border-top:2px solid #eaeaea;
}
.summaryWrapper h2{
	font-size:25px;
	color:#464646;
	text-transform:uppercase;
	margin-bottom:20px;
}
.summaryBox{
	width:620px;
	margin-bottom:20px;
}
.summaryRow{
	padding-left:20px;
	height:38px;
	line-height:34px;
	color:#474747;
	border-bottom:2px solid #eaeaea;
	font-size:13px;
}
.summaryRow.top{
	background:#00b9e6;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	border:2px solid #eaeaea;
}
.summaryRow a{
	color:#474747;
	text-decoration:underline;
}
.dateBox{
	width:125px;
	float:left;
}
.codeTypeBox{
	width:125px;
	float:left;
}
.receiptBox{
	width:150px;
	float:left;
}
.pointBox{
	width:90px;
	float:left;
	text-align:center;
}
.promoBox{
	width:105px;
	float:left;
}
.loadMore{
	font-size:12px;
	color:#484848;
}
.loadBtn{
	width:120px;
	height:30px;
	line-height:28px;
	border:1px solid #acacac;
	border-radius:5px;
	display:block;
	margin:0 0 auto 30px;
	text-align:center;
}
.new_upload{
	position:relative;
}
#upload_unique{
	width:100%;
	height:32px;
	position:absolute;
	top:20px;
	left:0;
	opacity:0;
	z-index:100;
}
.uploadButton{
	height:32px;
	border-radius:5px;
	border:1px solid #b7b7b7;
	text-align:center;
}
.uploadButton span{
	background:url(../images/icon_upload_small.png) no-repeat left center;
	height:30px;
	line-height:30px;
	display:inline-block;
	padding-left:30px;
	font-size:12px;
}
.small_70.register.pink .small.defBtn{
	width:160px;
	height:36px;
	line-height:36px;
	font-size:14px;
}
.register.special{
	position:relative;
	float:left;
}
.register.special .two_columns{
	width:40%;
	margin-right:10%;
	padding:0;
}
.register.special .two_columns:last-child{
	margin-right:0;
}
.or_t,
.and_t{
	position:absolute;
	bottom:7px;
	left:50%;
	margin-left:-45px;
	text-transform:uppercase;
}
.and_t{
	margin-left:-50px;
}
.or_nonepos{
	margin-bottom:20px;
	display:block;
}
.pathBox{
	font-size:12px;
	position:absolute;
	bottom:-20px;
	left:0;
}
.datepickerWrapper{
	margin-bottom:25px;
}
.datepickerWrapper input[type="text"]{
	background:url(../images/icon_calendar.png) no-repeat right center;
}
.datepickerWrapper .two_columns{
	width:40%;
	padding-right:30px;
}
.addPointBox .defBtn{
	max-width:200px;
	height:36px;
	line-height:36px;
	margin-top:0;
	margin-right:20px;
	display:inline-block;
}
.defBtn.pinkBtn{
	background:#d82679;
}
.defBtn.purpleBtn{
	background:#9827b0;
}
.pb_Wrapper{
	border:none;
	padding-top:0;
}
.pb_Wrapper .summaryRow{
	padding-left:10px;
}
.pb_Wrapper .dateBox{
	width:100px;
}
.pb_Wrapper .transactionBox{
	width:160px;
	float:left;
}
.pb_Wrapper .descriptionBox{
	width:130px;
	float:left;
}
.pb_Wrapper .typeBox{
	width:60px;
	float:left;
	text-align:center;
}
.pb_Wrapper .pointBox{
	width:60px;
	float:left;
	text-align:right;
}
.pb_Wrapper .saldoBox{
	width:96px;
	padding-right:10px;
	float:left;
	text-align:right;
}
.pb_Wrapper .saldoBox strong{
	color:#474747;
	font-family:'GothamRounded-Bold';
}
.blue_title{
	color:#00b9e6;
	font-size:25px;
	display:inline-block;
	margin-bottom:20px;
}
.stepWrapper{
	position:relative;
}
.stepWrapper:after{
	content:'';
	width:100%;
	max-width:620px;
	display:block;
	border-top:2px dotted #d1d1d1;
	position:absolute;
	bottom:35px;
	left:0;
	z-index:-10;
}
.stepsBox{
	float:left;
	font-size:12px;
	padding-top:80px;
	margin:20px 0;
}
.stepsBox.one{
	width:170px;
	background:#fff url(../images/icon_step_one.png) no-repeat top center;
}
.stepsBox.two{
	width:190px;
	background:#fff url(../images/icon_step_two.png) no-repeat top center;
	margin:20px 45px;
}
.stepsBox.active.two{
	background:#fff url(../images/icon_step_two_active.png) no-repeat top center;
}
.stepsBox.three{
	width:170px;
	background:#fff url(../images/icon_step_three.png) no-repeat top center;
}
.stepsBox.active.three{
	background:#fff url(../images/icon_step_three_active.png) no-repeat top center;
}
.stepsBox.finished.three{
	background:#fff url(../images/icon_step_three_finished.png) no-repeat top center;
}
.stepsBox span{
	width:100%;
	height:36px;
	line-height:36px;
	display:block;
	color:#9f9f9f;
	text-align:center;
	border-radius:5px;
	font-family:'GothamRounded-Bold';
	text-transform:uppercase;
	border:1px solid #c2c2c2;
}
.stepsBox.active span{
	background:#ffaa00;
	border:1px solid #ffaa00;
	color:#fff;
}
.stepsBox.finished span{
	background:#38ae24;
	border:1px solid #38ae24;
	color:#fff;
}
.rp_Wrapper{
	max-width:620px;
	border:none;
}
.rp_Wrapper .summaryRow.top{
	height:auto;
	line-height:normal;
	padding:15px 0 15px 10px;
}
.rewardBox{
	width:210px;
	float:left;
}
.locationBox{
	width:150px;
	float:left;
}
.totalBox{
	width:60px;
	float:left;
	text-align:center;
}
.needBox{
	width:90px;
	float:left;
	text-align:right;
}
.deleteBox{
	width:95px;
	float:left;
	text-align:center;
}
.rp_Wrapper .summaryRow{
	padding-left:0;
}
.rp_Wrapper.new .summaryRow{
	padding-left:10px;
}
.summaryRow.bottom{
	border:none;
	background:#f7f7f7;
}
.deleteBtn{
	width:17px;
	height:17px;
	display:block;
	background:url(../images/icon_close.png) no-repeat center center;
	text-indent:-9999px;
	margin:8px auto 0;
}
.summaryRedeemBox,
.totalRedeemBox{
	font-size:13px;
	font-family:'GothamRounded-Bold';
	text-transform:uppercase;
}
.totalRedeemBox{
	text-align:right;
	padding-right:100px;
}
.crBtn{
	width:210px;
	float:left;
	line-height:34px;
	height:36px;
	color:#00b9e6;
	border:1px solid #00b9e6;
}
.checkoutBtn{
	width:170px;
	height:36px;
	line-height:36px;
	background:#9827b0;
	color:#fff;
	float:right;
	margin-right:60px;
}
.addressWrapper{
	width:100%;
	border-bottom:1px solid #cccccc;
	margin-top:10px;
}
.addressBox{
	padding-left:35px;
	position:relative;
	margin-bottom:30px;
}
.addressBox input[type="radio"]{
	height:18px;
	width:18px;
	display:block;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
.addressBox input[type="radio"] + label span{
	width:18px;
	height:18px;
	display:block;
	position:absolute;
	top:0;
	left:0;
	background:#f7f7f7;
	border:1px solid #ebebeb;
	border-radius:18px;
}
.addressBox input[type="radio"]:checked + label span:after{
	content:'';
	width:9px;
	height:9px;
	background:#ffaa00;
	display:block;
	border-radius:9px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.address{
	font-size:13px;
}
.address_title{
	display:block;
	color:#484848;
	font-size:13px;
	font-family:'GothamRounded-Bold';
}
.address a:first-child{
	border:none;
	padding-left:0;
}
.address a{
	color:#ffaa00;
	font-size:11px;
	border-left:1px solid #c2c2c2;
	padding-left:5px;
}
.addAddressBtn{
	width:135px;
	height:32px;
	line-height:30px;
	color:#ffaa00;
	font-size:12px;
	border:1px solid #ccc;
	margin-left:35px;
}
.rp_button{
	margin-top:30px;
}
.borderblue{
	width:90px;
	height:36px;
	line-height:34px;
	border:1px solid #5dcfee;
	color:#5dcfee;
	margin:0;
}
.defBtn.purple{
	width:170px;
	height:36px;
	line-height:34px;
	background:#9827b0;
	margin:0;
}
.address .register{
	margin-top:20px;
	margin-bottom:0px;
}
.address textarea{
	height:65px;
}
.address .three_columns{
	width:40%;
}
.confirmation{
	border-bottom:1px solid #ccc;
}
.confirmation span.info{
	margin-bottom:15px;
}
.confirmation .rewardBox{
	width:250px;
}
.confirmation .locationBox{
	width:190px;
}
.balanceBox{
	padding:20px 0;
	font-size:12px;
}
.balanceBox span{
	font-family:'GothamRounded-Bold';
	font-size:13px;
	color:#474747;
	display:block;
}
.balanceBox span:last-child{
	margin-bottom:30px;
}
.thankyouBox{
	padding:20px 0;
}
.thankyouBox h4{
	font-size:22px;
	font-family:'GothamRounded-Bold';
	text-transform:uppercase;
	color:#484848;
	margin-bottom:10px;
}
.thankyouBox p{
	font-size:13px;
	line-height:20px;
}
.pointInfo{
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:13px;
	color:#fff;
	margin-bottom:20px;
}
.pointInfo span{
	text-decoration:line-through;
}
.blue .pointInfo{
	background:#4cd1f7;
}
.green .pointInfo{
	background:#dcda4c;
}
.pink .pointInfo{
	background:#e467a1;
}
.brown .pointInfo{
	background:#866c4c;
}
.rewardWrapper{
	border-top:1px solid #ccc;
	padding-top:20px;
}
.rewardWrapper h3{
	color:#00bef3;
	font-size:20px;
	font-family:'GothamRounded-Bold';
	margin-bottom:20px;
}
.rewardImgBox{
	width:320px;
	float:left;
	margin-right:25px;
}
.rewardImgBox img{
	width:100%;
	margin-bottom:10px;
	border-radius:5px;
}
.rewardInfoBox{
	width:615px;
	float:left;
}
.rl_wrapper{
	margin-bottom:20px;
}
.rl_row{
	height:38px;
	line-height:38px;
	display:block;
	padding:0 15px;
	border-bottom:1px solid #ccc;
}
.rl_row.top{
	background:#00b9e6;
	border:1px solid #eeeeee;
	height:40px;
	color:#fff;
	line-height:38px;
}
.rl_reward{
	width:150px;
	float:left;
}
.rl_code{
	width:80px;
	text-align:center;
	float:left;
}
.rl_point{
	width:80px;
	text-align:center;
	float:left;
}
.rl_store{
	text-align:center;
	width:138px;
	float:left;
}
.rl_total{
	text-align:center;
	width:135px;
	float:left;
	padding-left:15px;
}
.rl_row .select2-container{
	position:relative;
	top:-2px;
}
.rewardInfoBox .borderblue{
	width:auto;
	padding:0 20px;
	display:inline-block;
	float:left;
}
.rewardInfoBox .defBtn.green{
	width:240px;
	background:#cdca00;
	color:#fff;
	height:36px;
	line-height:36px;
	display:block;
	float:right;
	margin:0 auto;
}
.voucherBox{
	margin-top:40px;
	margin-bottom:40px;
	font-size:13px;
}
.voucherBox h4{
	font-family:'GothamRounded-Bold';
	color:#484848;
	margin-bottom:20px;
}
.voucherBox ul{
	list-style:decimal;
	padding-left:20px;
}
.voucherBox ul li{
	line-height:20px;
}
.blogBanner{
	margin-bottom:25px;
}
.blogbannerBox{
	width:100%;
	height:250px;
	position:relative;
}
.bb_text{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	font-size:21px;
	color:#ffffff;
	font-family:'GothamRounded-Medium';
	text-transform:uppercase;
}
.blog .prizeBox{
	width:305px;
	margin-right:22.5px;
	margin-bottom:22.5px;
}
.blog .prizeBox:nth-child(3n){
	margin-right:0;
}
.blog .prizeBox:nth-child(4n){
	margin-right:22.5px;
}
.blog .prizeBox img{
	width:100%;
}
.prizeImageBox:hover .prizeHoverBox{
	opacity:1;
}
.prizeHoverBox{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	font-size:12px;
	padding:20px;
	z-index:100;
	opacity:0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.pink .prizeHoverBox:before,
.blue .prizeHoverBox:before,
.green .prizeHoverBox:before,
.brown .prizeHoverBox:before,
.gray .prizeHoverBox:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#d82679;
	opacity:0.8;
	z-index:-1;
}
.blue .prizeHoverBox:before{
	background:#00bef3;
}
.green .prizeHoverBox:before{
	background:#cdca00;
}
.brown .prizeHoverBox:before{
	background:#522d00;
}
.gray .prizeHoverBox:before{
	background:#dddddd;
}
.prizeHoverBox span{
	display:block;
	margin:30px 0 0;
	text-transform:uppercase;
}
.bdImage{
	width:100%;
	padding-bottom:100%;
	position:relative;
	overflow:hidden;
}
.bdImageBox{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.bdInfo{
	width:100%;
	position:relative;
	padding-bottom:100%;
}
.bdInfoBox{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#f7f7f7;
	padding:20px 30px;
	font-size:13px;
	color:#323232;
}
.bdInfoBox h3{
	font-size:35px;
	color:#222222;
	display:block;
	margin:20px 0 10px;
}
#rateResult{
	margin:10px 0 0;
	padding:0;
}
.bg_bottom{
	position:absolute;
	bottom:30px;
	left:0;
	padding-left:30px;
}
.shareBox{
	width:50%;
	float:left;
}
.shareBox span.info{
	margin-bottom:10px;
}
.share_fb,
.share_tw,
.share_message{
	width:52px;
	height:52px;
	display:block;
	background:url(../images/facebook.png) no-repeat top center;
	float:left;
	margin-right:10px;
	text-indent:-9999px;
}
.share_tw{
	background:url(../images/twitter.png) no-repeat top center;
}
.share_message{
	background:url(../images/message.png) no-repeat top center;
}
.rateBox{
	width:50%;
	float:left;
}
.rateBox span.info{
	margin-bottom:25px;
}
#rating{
	padding:0;
}
.bdDescBox{
	padding:30px 0;
	max-width:90%;
	font-size:16px;
}
.bdDescBox strong{
	font-family:'GothamRounded-Bold';
}
footer{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:#dddddd;
}
.footerBox{
	max-width:960px;
	margin:0 auto;
	padding:20px;
}
.halfBox.left{
	padding:0 20px 0 10px;
	font-size:10px;
}
footer h5{
	font-family:'GothamRounded-Bold';
	font-size:12px;
	text-transform:uppercase;
}
footer h5:before{
	content:'';
	width:29px;
	height:29px;
	background:url(../images/icon_phone.png) no-repeat top center;
	display:block;
	position:absolute;
	left:25px;
}
.cs{
	padding:0 0 0 60px;
	font-size:11px;
	position:relative;
}
.sosmed{
	position:relative;
	padding-left:40px;
}
.cs:before,
.sosmed:before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:2px;
	height:100%;
	background:#e7e7e7;
}
.sosmed .fullBox{
	margin-bottom:10px;
}
.fbBtn,
.twBtn,
.ytBtn,
.instBtn{
	width:24px;
	height:24px;
	display:block;
	float:left;
	margin-right:5px;
	background:url(../images/icon_facebook.png) no-repeat top center;
	text-indent:-9999px;
}
.twBtn{
	background:url(../images/icon_twitter.png) no-repeat top center;
}
.ytBtn{
	background:url(../images/icon_youtube.png) no-repeat top center;
}
.instBtn{
	background:url(../images/icon_instagram.png) no-repeat top center;
}
.sosmed ul li a{
	font-size:12px;
	font-family:'GothamRounded-Bold';
	text-transform:uppercase;
	padding-left:20px;
}
.termsBtn{
	background:url(../images/icon_term.png) no-repeat left
}
.policyBtn{
	background:url(../images/icon_gembok.png) no-repeat left
}
.owl-dots{
	position:absolute;
	top:5px;
	right:5px;
}
.owl-theme .owl-nav.disabled + .owl-dots{
	margin-top:0;
}
.owl-theme .owl-dots .owl-dot span{
	margin:5px 4px;
	background:#6f7072;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background:#fff;
}
.popupWrapper{
	width:100%;
	min-height:100%;
	position:fixed;
	top:0;
	left:0;
	overflow:auto;
	z-index:1000;
	display:none;
}
.overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity:0.5;
	display:none;
}
.popupBox{
	display:none;
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.rewardPopup{
	max-width:620px;
}
.rpTop{
	background:#fff;
	padding:50px 60px;
	text-align:center;
	font-size:16px;
}
.rpBottom{
	background:#ebebeb;
	padding:40px 40px;
}
.rpBottom .defBtn{
	margin:0;
	width:auto;
	display:inline-block;
	float:left;
}
.rpBottom .defBtn.borderGreen{
	border:1px solid #cdca00;
	border-radius:5px;
	background:#fff;
	color:#cdca00;
	padding:0 20px;
	height:38px;
	line-height:36px;
}
.rpBottom .defBtn.green{
	width:auto;
	padding:0 20px;
	background:#cdca00;
	color:#fff;
	height:36px;
	line-height:36px;
	display:block;
	float:right;
	margin:0 auto;
}
.closePopup{
	width:26px;
	height:26px;
	display:block;
	background:url(../images/icon_close_popup.png) no-repeat top center;
	position:absolute;
	top:-35px;
	right:0;
	text-indent:-9999px;
}
.mobile{
	display:none;
}
.desktop{
	display:block;
}
.tt_mobile{
	display:none;
}
.receiptPopup{
	max-width:480px;
}
.receiptImg img{
	width:100%;
}
@media only screen and (max-width:959px){
	#logo_sahabat, #logo_big_dolce{
		left:20px;
	}
	#logo_dolce{
		right:20px;
	}
	.bannerWrapper{
		width:100%;
		height:auto;
	}
	.memberBox{
		width:100%;
		padding:20px 20px 0;
	}
	.memberTop{
		text-align:center;
		overflow:hidden;
	}
	.memberTop p,
	.memberTop .forgetPassword{
		text-align:left;
	}
	.memberTop .title_step{
		position:relative;
		display:inline-block;
	}
	.memberTop .title_step:before,
	.memberTop .title_step:after {
	  content: "";
	  position: absolute;
	  height:1px;
	  border-bottom: 2px solid #dedede;
	  top: 50%;
	  -webkit-transform:translateY(-50%);
	  -moz-transform:translateY(-50%);
	  transform:translateY(-50%);
	  width: 600px;
	}
	.memberTop .title_step:before {
	  right: 100%;
	  margin-right: 15px;
	}
	.memberTop .title_step:after {
	  left: 100%;
	  margin-left: 15px;
	}
	.container{
		padding:0 20px;
	}
	.container.noPadding{
		padding:0;
	}
	.regMachineWrapper, .uploadRecWrapper{
		padding-left:20px;
		padding-right:280px;
	}
	.uniqueCodeBox{
		width:260px;
		margin:0;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		transform:translateY(-50%);
		left:auto;
		right:20px;
	}
	.uploadRecBtn{
		width:100%;
		height:100%;
		opacity:0;
		margin:0;
	}
	.prizeWrapper{
		max-width:720px;
		margin:0 auto;
	}
	.prizeBox{
		width:48%;
	}
	.prizeBox,
	.prizeBox:nth-child(4n):nth-child(4n){
		margin:0 1% 2% 1%;
	}
	.prizeBox img{
		width:100%;
	}
	footer .halfBox{
		width:100%;
		float:none;
	}
	.cs::before, .sosmed::before{
		display:none;
	}
	.cs{
		padding:0 0 0 40px;
		margin-bottom:15px;
	}
	footer h5::before{
		left:0;
	}
	.sosmed{
		padding-left:0;
	}
	.fbBtn{
		margin-left:40px;
	}
	.sosmed ul li{
		margin-bottom:5px;
	}
	.halfBox.left{
		padding:0;
	}
	.mobile{
		display:block;
	}
	.desktop{
		display:none;
	}
	.bottom_menu{
		width: 100%;
		position: fixed;
		left: 0;
		top: 210px;
		min-height:calc(100vh - 210px);
		overflow: auto;		
		display:none;
	}
	.bottom_menu:before{
		content:'';
		display:block;
		width:100%;
		height:100%;
		top:0;
		left:0;
		position:absolute;
		background: #ffaa00;
		opacity:0.8;
	}
	.bottom_menu ul{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
	.loginMobile{
		background:#00b9e6 !important;
	}
	.loginMobile a{
		color:#fff !important;
	}
	.bottom_menu ul li{
		float:none;
		height:80px;
		line-height:80px;
		margin:0;
		background:#fff;
	}
	.bottom_menu ul li a{
		height:80px;
		display:block;
		padding:0 40px;
		position:relative;
		overflow:hidden;
		color:#979797;
		font-size:16px;
	}
	.bottom_menu ul li.loginMobile a,
	.bottom_menu ul li.loginMobile a{
		padding:0 0 0 80px;
		display:inline-block;
		background:url(../images/icon_people.png) no-repeat left 40px center;
		background-size:32px;
	}
	.bottom_menu ul li.loginMobile a:last-child{
		background:none;
		padding:0 0 0 10px;
	}
	.bottom_menu ul li.loginMobile a:last-child:before{
		content:'';
		width:2px;
		height:20px;
		background:#fff;
		display:block;
		position:absolute;
		top:50%;
		left:2px;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		transform:translateY(-50%);
		padding
	}
	.bottom_menu ul li:first-child a:before,
	.bottom_menu ul li:last-child a:before,
	.bottom_menu ul li:first-child a:after{
		display:none;
	}
	.bottom_menu ul li a:before{
		content:'';
		display:block;
		height:2px;
		background:#ebebeb;
		position:absolute;
		width:calc(100% - 80px);
		left:40px;
		bottom:0;
	}
	.bottom_menu ul li a:after{
		content:'';
		display:block;
		width:13px;
		height:21px;
		background:url(../images/icon_arrow_right.png) no-repeat top center;
		position:absolute;
		top:50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		transform:translateY(-50%);
		right:40px;
	}
	.cartBtnMobile{
		width:40px;
		height:40px;
		display:block;
		background:url(../images/icon_cart_big.png) no-repeat top center;
		background-size:cover;
		position:absolute;
		bottom:30px;
		left:0;
	}
	.searchBtnMobile{
		width:40px;
		height:40px;
		display:block;
		background:url(../images/icon_search.png) no-repeat top center;
		background-size:cover;
		position:absolute;
		bottom:30px;
		left:0;
	}
	.menu{
		width:90px;
		height:125px;
		background:url(../images/line_gray.png) no-repeat left bottom 15px !important;
		margin-left:10px !important;
	}
	.navBox{
		border-bottom:5px solid #fff;
		z-index:100;
	}
	.orangeBg{
		border-bottom:5px solid #ffaa00;
	}
	.orangeBg .menu{
		background:#ffaa00 !important;
	}
	.orangeBg .menu .menuMobile{
		background:url(../images/menu_mobile_white.png) no-repeat center center;
	}
	.menuMobile{
		width:46px;
		height:22px;
		display:block;
		background:url(../images/menu_mobile.png) no-repeat center center;
		text-indent:-9999px;
		position:absolute;
		bottom:40px;
		left:50%;
		margin-left:-23px;
	}
	.top_menu .nav.mobile{
		position:absolute;
		top:0;
		right:0;
		height:125px;
	}
	.top_menu .nav.mobile ul{
		padding:0;
		height:125px;
	}
	.top_menu .nav.mobile ul li{
		min-width:50px;
		height:120px;
		position:relative;
		padding:0;
		margin:0;
	}
	.registerBox .halfBox{
		width:100%;
	}
	.registerBox .halfBox .register:first-child .two_columns{
		width:100%;
	}
	.statusBox{
		width:25%;
	}
	.statusImage{
		width:100%;
	}
	.hobbiesBox:nth-child(5n){
		margin-right:12px;
	}
	.aboutMe .medium.defBtn{
		margin:30px auto 0;
		float:none;
	}
	.myAccount{
		padding:0;
	}
	.sideMenuWrapper{
		width:100%;
		margin:0 0 20px;
	}
	.sideMenuWrapper h3{
		text-align:center;
		font-size:30px;
	}
	.sideMenuWrapper ul{
		display:none;
	}
	.sideMenuWrapper ul li a.selected{
		display:none;
	}
	.sideContentWrapper{
		width:100%;
	}
	.sideContentWrapper h3{
		font-size:26px;
	}
	.r_machineBox{
		position:relative;
	}
	.small_70{
		width:100%;
		float:none;
	}
	.small_30{
		width:100%;
		float:none;
	}
	.sideContentWrapper .r_machineBox h3{
		padding-right:100px;
	}
	.r_machineBox p{
		width:60%;
	}
	.r_machineBox .small_30{
		width:100px;
		position:absolute;
		bottom:50px;
		right:0;
	}
	.r_machineBox .small_30 img{
		width:100%;
	}
	.register.special .two_columns{
		width:100%;
		float:none;
	}
	.and_t, .or_t{
		position:static;
		margin:10px 0;
		display:block;
		text-align:center;
	}
	.new_upload span.info{
		display:none;
	}
	.mlWrapper{
		max-width:613px;
		margin:0 auto;
	}
	.machineListBox:nth-child(4n){
		margin-right:0;
	}
	.uploadWrapper{
		position:relative;
		top:0;
		right:0;
	}
	.previewBox span{
		top:0;
		right:-50px;
	}
	.loadBtn{
		margin:20px auto 0;
	}
	.register.special{
		float:none;
	}
	.small_70.register .one_columns{
		padding-right:0;
	}
	.rewardImgBox{
		width:100%;
		margin:0;
	}
	.rewardImgBox img{
		display:none;
	}
	.rewardImgBox img:first-child{
		display:block;
	}
	.blogbannerBox{
		height:auto;
	}
	.after_login{
		padding-left:40px;
		color:#fff;
		font-size:18px;
	}
	.prizeBox{
		width:50%;
		margin:0 0 20px;
		padding:0 10px;
	}
	.prizeBox:nth-child(4n):nth-child(4n){
		margin:0 0 20px;
	}
	.bdInfoBox h3{
		font-size:22px;
	}
	.share_fb, .share_tw, .share_message{
		width:36px;
		height:36px;
		background-size:contain;
	}
	.rateBox span.info{
		margin-bottom:18px;
	}
	.thankyou .halfBox:first-child{
		padding:0;
		width:80%;
	}
	.thankyou .halfBox:last-child{
		width:40%;
		position:absolute;
		bottom:0;
		right:0;
		z-index:-1;
	}
	.thankyou .halfBox:last-child img{
		width:100%;
	}
}
@media only screen and (max-width:767px){
	.regMachineWrapper,
	.uploadRecWrapper{
		padding:20px 20px;
	}
	.regMachineWrapper span, .uploadRecWrapper span{
		line-height:normal;
	}
	.uniqueCodeBox{
		bottom:0;
		left:80px;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
	}
	.rewardInfoBox{
		width:100%;
	}
	.summaryBox{
		width:100%;
	}
	.summaryRow{
		width:100%;
		height:auto;
		padding:0 0 10px;
		border-bottom:2px solid #eaeaea;
		margin:0 0 10px;
		position:relative;
	}
	.summaryRow.top{
		display:none;
	}
	.dateBox,
	.codeTypeBox,
	.promoBox,
	.receiptBox,
	.pointBox,
	.transactionBox,
	.descriptionBox,
	.saldoBox,
	.pb_Wrapper .dateBox,
	.pb_Wrapper .transactionBox,
	.pb_Wrapper .descriptionBox,
	.pb_Wrapper .typeBox,
	.pb_Wrapper .pointBox,
	.pb_Wrapper .saldoBox,
	.rewardBox,
	.locationBox,
	.totalBox,
	.needBox,
	.rl_reward,
	.rl_code,
	.rl_point,
	.rl_store,
	.rl_total{
		width:100%;
		text-align:left;
		float:none;
		font-family:'GothamRounded-Bold';
		padding-left:0;
	}
	.deleteBox{
		width:17px;
		position:absolute;
		top:0;
		right:0;
		margin:0 auto;
	}
	.tt_mobile{
		width:120px;
		display:inline-block;
		font-family:'GothamRounded-Book';
	}
	.rl_row{
		padding:0 0 15px;
		height:auto;
		margin-bottom:25px;
	}
	.rl_row.top{
		display:none;
	}
	.rewardInfoBox .borderblue,
	.rewardInfoBox .defBtn.green{
		width:300px;
		display:block;
		float:none;
		margin:0 auto 20px;
	}
	.bdWrapper .halfBox{
		width:100%;
	}
	.bdImage img{
		width:100%;
	}
}
@media only screen and (max-width:479px){
	.container{
		margin:0 auto 20px;
	}
	.navBox,
	.top_menu .nav.mobile,
	.top_menu .nav.mobile ul{
		height:100px;
	}
	.top_menu .nav.mobile ul li{
		height:95px;
	}
	#logo_big_dolce{
		width:72px;
		height:72px;
	}
	.top_menu{
		margin-bottom:0;
	}
	.top_menu .nav.mobile ul li{
		min-width:40px;
	}
	.bottom_menu{
		top:185px;
		min-height:calc(100vh - 185px);
	}
	.bottom_menu ul li{
		height:60px;
		line-height:60px;
	}
	.bottom_menu ul li a{
		height:60px;
		font-size:14px;
	}
	.bottom_menu ul li a::after {
		width:8px;
		height:12px;
		background-size:contain;
	}
	.bottom_menu ul li.loginMobile a, .bottom_menu ul li.loginMobile a{
		background-size:28px;
		padding:0 0 0 75px;
	}
	.cartBtnMobile,
	.searchBtnMobile{
		width:30px;
		height:30px;
	}
	.menu{
		width:60px;
	}
	.prizeBox{
		width:80%;
		margin:0 auto 20px;
	}
	.prizeBox.f_left{
		float:none;
	}
	.prizeBox:nth-child(4n):nth-child(4n){
		margin:0 auto 20px;
	}
	.regMachineWrapper, .uploadRecWrapper{
		padding:15px;
		height:auto;
	}
	.regMachineWrapper span, .uploadRecWrapper span{
		background-image:none;
		padding:0;
		font-size:12px;
	}
	.uniqueCodeBox{
		position:relative;
		top:0;
		left:0;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
		margin-top:10px;
	}
	.menuMobile{
		bottom:35px;
		background-size:30px;
	}
	.uploadRecBtn{
		position:static;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
		opacity:1;
		margin-top:10px;
	}
	h2.title{
		margin:15px 0 10px;
		font-size:30px;
	}
	.titleBar{
		font-size:16px;
	}
	.statusWrapper{
		border:none;
	}
	.statusBox{
		width:50%;
		padding:0 5px;
		border-right:none;
		margin-bottom:10px;
	}
	.statusImage{
		border:1px solid #b7b7b7;
	}
	.statusInfo{
		border:1px solid #b7b7b7;
		border-top:none;
	}
	.hobbiesBox{
		width:33.3333%;
		margin-right:0;
		padding:0 5px;
	}
	.hobbiesBox:nth-child(5n){
		margin-right:0px;
	}
	.r_machineBox h3{
		font-size:22px;
	}
	.r_machineBox p{
		width:100%;
		margin-bottom:10px;
	}
	.r_machineBox .halfBox{
		width:100%;
		padding:0;
	}
	.r_machineBox .halfBox img{
		width:90%;
		margin:20px auto 0;
	}
	.machineListBox{
		width:50%;
		margin:0 0 10px;
		padding:0 5px;
	}
	.machineListBox .redBtn, .machineListBox .greenBtn{
		z-index:10;
		right:12px;
	}
	.machineListImg{
		width:100%;
	}
	.thankyou .halfBox:first-child{
		width:100%;
		padding-bottom:20px;
	}
	.sideContentWrapper .r_machineBox h3{
		padding-right:80px;
	}
	.r_machineBox .small_30{
		width:80px;
	}
	.sideContentWrapper .machineListBox:nth-child(6n){
		margin-right:0;
	}
	.regMacBtn, .cancelBtn,
	.left .cancelBtn{
		display:block;
		margin:0 auto 20px;
	}
	.datepickerWrapper .two_columns{
		width:100%;
		padding:0;
	}
	.blue_title{
		font-size:20px;
	}
	.stepsBox.one,
	.stepsBox.two,
	.stepsBox.three{
		margin:20px auto 20px;
		float:none;
	}
	.stepsBox:after{
		content:'';
		width:21px;
		height:13px;
		display:block;
		background:url(../images/icon_arrow_bottom.png) no-repeat top center;
		margin:20px auto 0;
	}
	.stepsBox:last-child:after{
		display:none;
	}
	.stepWrapper::after{
		display:none;
	}
	.address .three_columns{
		width:50%;
	}
	.blog .prizeBox,
	.blog .prizeBox:nth-child(3n){
		margin-right:auto;
	}
	.bdWrapper .halfBox{
		width:100%;
	}
	.crBtn,
	.checkoutBtn{
		width:210px;
		float:none;
		margin:0 auto 20px;
	}
	.rp_button .borderblue.f_left{
		float:none;
		width:170px;
		margin:0 auto 20px;
	}
	.rp_button .defBtn.purple.f_right{
		float:none;
		margin:0 auto 20px;
	}
	.summaryRedeemBox, .totalRedeemBox{
		width:100%;
		text-align:right;
		padding-right:20px;
	}
	.popupBox{
		top:20px;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.receiptImg{
		padding:0 20px;
	}
}
@media only screen and (max-width:359px){
	h2.title,
	.sideMenuWrapper h3{
		font-size:26px;
	}
	.r_machineBox h3{
		font-size:20px;
	}
	.summaryWrapper h2,
	.sideContentWrapper h3{
		font-size:22px;
	}
	.tt_mobile{
		width:100%;
		display:block;
	}
	.bdInfoBox{
		position:static;
	}
	.bg_bottom{
		position:static;
		padding-left:0;
	}
	.bdInfo{
		padding-bottom:0;
	}
	.shareBox,
	.rateBox{
		float:none;
		width:100%;
	}
	.shareBox{
		margin:40px 0 20px;
	}
	.rateBox span.info{
		margin-bottom:10px;
	}
	.shareBox:after,
	.rateBox:after{
		content:'';
		clear:both;
		display:block;
	}
}