/*
    Author: Aris Haryanto
*/

.popupWrapper > .overlay{
	z-index: 0;
}
a.visually-hidden{
	display: none !important;
}

div[role="contentinfo"]{
	display: none !important;
}

.viewMore{
	height: inherit !important;
    padding: 8px 14px;
}
#upload:hover{
	cursor: pointer;
}
.dateBox {
    width: 80px;
    float: left;
    height: 32px;
    margin-right: 45px;
    overflow: hidden;
}

.top_menu .nav ul li.account_h .accountHoverWrapper .halfBox:first-child a:hover {
    color: #D82679 !important;
}

.fullBox.myAccount table > tbody tr:first-child td:last-child{
	text-transform: uppercase;
}

.input-group{
	border: 1px solid #B0B0B0;
    border-radius: 5px 5px 5px 5px;
}

.input-group > input{
	width: 85%;
    /*border: 1px solid;*/
    border-right: none;
    border-radius: 5px 0px 0 5px;
    padding: 18px;
}
.input-group-button .btnclip:hover{
	cursor: pointer;
}
.input-group-button .btnclip{
	max-width: 200px;
    height: 36px;
    line-height: 32px;
    width: 98px;
    float: right;
    text-transform: uppercase;
    display: inline-block;
    background: #d82679;
    border: 1px solid #d82679;
    border-radius: 0px 3px 3px 0px;
    color: #FFF;
    font-weight: bold;
}

button{
	border: none;
}
button:hover{
	cursor: pointer;
}

.centerContactUs .fullBox{
	width: 100%;
}
.centerContactUs .small_70{
    width: 50%;
    float: none;
    margin: 10px auto;
}
.centerContactUs .register.pink button{
	margin: 15px auto;
}
.uploadBox{
	height: 142px;
	word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}
.userwelcome{
	color: #707070 !important;
}
.rl_row:after {
    display: block;
    content: '';
    clear: both;
}
.rl_row{
    height: auto;
}

.pointInfo strong {
    font-weight: bold;
    font-size: 21px;
}

.grecaptcha-badge{
    display: none;
}
