<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Benefits</li>
                    </ul>
                </div>
                <div class="content_element">
                    <p><strong>BERBAGAI HADIAH MENARIK MENUNGGU ANDA DI NESCAFE DOLCE GUSTO CLUB</strong>

<p>Selamat datang di website NESCAFÉ Dolce Gusto Club! </p>

<p>Program NESCAFÉ Dolce Gusto Club dirancang khusus untuk Anda pengguna setia NESCAFÉ Dolce Gusto. Sambil menikmati kopi ala kafe, sebagai member Anda juga bisa mendapatkan berbagai keuntungan eksklusif. </p>

<p>Saat mendaftar pertama kali, Anda akan langsung mendapatkan welcome point dan selanjutnya, poin bisa dikumpulkan dari setiap produk NESCAFÉ Dolce Gusto yang Anda beli. Poin yang sudah terkumpul kemudian bisa Anda tukarkan dengan berbagai hadiah menarik! </p>

<p>Ayo registrasi sekarang, kumpulkan poin dan pilih beragam hadiahnya!</p>

<p><strong>BENEFIT DARI NESCAFÉ DOLCE GUSTO CLUB</strong>
<ul style="list-style: square;">
<li>Mendapatkan welcome points sejumlah 50 poin pada saat mendaftar menjadi member NESCAFÉ DOLCE GUSTO club.</li>
<li>Berbagai hadiah menarik yang bisa didapat dengan penukaran poin dari setiap pembelian produk NESCAFÉ DOLCE GUSTO.</li>
<li>Akses eksklusif untuk mendapatkan berbagai promo menarik dan penawaran khusus.</li>
<li>Berbagai info menarik dan update terbaru dari NESCAFE Dolce Gusto</li></ul></p>
                </div>
            </div>
        </section>
