<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="fullBox contactWrapper">
                <form action="{{ base_url }}submitcontactus" method="POST" enctype="multipart/form-data">
                    <div class="contactForm">
                        <input type="text" required name="name" placeholder="Name">
                        <input type="text" required name="telp" placeholder="Mobile">
                        <input type="text" required name="email" placeholder="Email">
                        <input type="text" required name="subject" placeholder="Subject">
                        <textarea name="message" placeholder="Message" required></textarea>
                        <div style="color:red;text-align:center;">{{ error }}</div>
                        <span class="fileTxt"></span>
                        <br><br>
                        <div class="buttonWrapper">
                            <div class="attachBox">
                                <input type="file" id="upcontact" name="attach">
                                <div class="fakeAttach"><span>Attach File</span></div>
                            </div>
                            <input type="submit" style="cursor:pointer;" class="defBtn" value="Submit">
                        </div>
                        <p style="font-size:13px;">* jpeg, png, max size 2MB</p>
                    </div>
                    <div class="contactInfo">
                        <strong>OFFICE</strong>
                        <p>PT Nestlé Indonesia<br>
Lantai 5 Tower B, Arkadia Green Park<br>
Kavling 88 Jalan Letjen T.B. Simatupang<br>
Jakarta 12520<br>
Telepon: +62 21 7883 6000<br>
Fax: +62 21 7883 6001</p><br>
                        <p>Nestle Consumer Services Team</p>
                        <strong>Monday - Sunday</strong>
                        <p>0800 18 21028 (toll free) 08.00 - 24.00 WIB<br>
                        001 803 657 121 (24 hours)</p>
                        <img src="{{ base_url }}/themes/dolcegusto/dist/userdata/a.png">
                    </div>
                </div>
                </form>
            </div>
        </section>
