
{{ form }}

<table class="table">
	<thead>
		<tr>
			<td>Date</td>
			<td>Type</td>
			<td>Description</td>
			<td>Point</td>
		</tr>
	</thead>
	<tbody>
		{{ point_history }}
	</tbody>
</table>

<h3>user info :</h3>
{{ user_info }}<br>
{{ logout_url }}