<section>
            <div class="container container_border_top no_padding">

                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                    <div class="fullBox rs_top">
                            <!--<div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if (userdata.profilepic) %}
                                        <img src="{{ base_url }}apidolcegusto/uploads/{{ userdata.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>

                            <form action="{{ url('custompage.upload_profile_photo') }}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="imgupload" id="imgupload" style="display: none;">
                            <button type="submit" >Upload</button>
                            </form> -->
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ userdata.point }}</span>
                            </div>
                            <a href="#" class="edit_profile_btn">Edit Profile</a>
                        </div>
                        <form action="{{ base_url }}guest/updateprofile" method="POST" id="formEditProfile" data-baseurl="{{ base_url }}">
                        <input type="hidden" name="form_id" value="profile_form">
                        <input type="hidden" name="_token" value="{{ tokens }}" >
                        <div class="rs_content submit_points edit_profile">
                            <div class="sp_top">
                                <div class="spt_box">
                                    <input type="hidden" name="title" value="{{ userdata.title }}">
                                    <input type="hidden" name="firstname" value="{{ userdata.firstname }}">
                                    <input type="hidden" name="lastname" value="{{ userdata.lastname }}">


                                    <span class="my_name">{{ userdata.firstname }} {{ userdata.lastname }}</span>
                                    <div class="member_id"><span>Member ID</span>: {{ userdata.member_id }}</div>
                                    <ul>
                                        <li>
                                            <span>Email</span>
                                            <input type="text" name="email" readonly style="background: lightgray;" value="{{ userdata.email }}">
                                        </li>
                                        <li>
                                            <span>Date of Birth</span>
                                            <input type="text" name="birthday" readonly value="{{ userdata.birthday }}" autocomplete="off">
                                        </li>
                                        <li>
                                            <span>Mobile Number</span>
                                            <input type="text" name="phone" value="{{ userdata.phone }}">
                                        </li>
                                        <li>
                                            <span>Occupation</span>
                                            <select data-tags="true" name="occupation">
                                                <option>Select Occupation</option>
                                                {% for occupations in occupation %}
                                                    {% if occupations.name == userdata.occupation %}
                                                        <option selected>{{ occupations.name }}</option>
                                                    {% else %}
                                                        <option>{{ occupations.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>Address</span>
                                            <textarea name="adrress" required>{{ userdata.address }}</textarea>
                                        </li>
                                        <li>
                                            <span>Province</span>
                                            <select data-tags="true" name="province" id="selectProvince">
                                                {% for provinces in province %}
                                                    {% if provinces.name == userdata.province %}
                                                        <option selected>{{ provinces.name }}</option>
                                                    {% else %}
                                                        <option>{{ provinces.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>City</span>
                                            <select data-tags="true" name="city" id="cityAppend">
                                                {% for cities in city %}
                                                    {% if cities.province == userdata.province %}
                                                        {% if cities.name == userdata.city %}
                                                            <option selected>{{ cities.name }}</option>
                                                        {% else %}
                                                            <option>{{ cities.name }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div id="selectCity" style="display: none">
                                                {% for cities in city %}
                                                    <span class="class-{{ cities.province|replace({' ':''}) }}"><option>{{ cities.name }}</option></span>
                                                {% endfor %}
                                            </div>
                                        </li>
                                        <li>
                                            <span>District</span>
                                            <select data-tags="true" name="district" id="appenddistrict">
                                                {% for districts in district %}
                                                    {% if districts.name == userdata.district %}
                                                        <option selected>{{ districts.name }}</option>
                                                    {% else %}
                                                        <option>{{ districts.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>Postal Code</span>
                                            <input type="text" name="postal_code" value="{{ userdata.postal_code }}">
                                        </li>
                                        {#
                                        <li>
                                            <script src='https://www.google.com/recaptcha/api.js' async defer></script>
                                            <div class="g-recaptcha" data-sitekey="6Lc5lR4UAAAAAPELV8lOyqGwi9waS3wv5YiJZwCO"></div>
                                        </li> #}
                                    </ul>
                                    <button id="submit" type="submit" class="defBtn desktop">Save</button>
                                </div>
                                <div class="spt_box">
                                    <div class="questionBox one">
                                        Where do you hear this program from?
                                        <ul class="fullBox">
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'sosmed' %} checked {% endif %} {% endfor %}
                                                 name="hear[]" value="sosmed"><span>Social Media</span></label>
                                            </li>
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'friend' %} checked {% endif %} {% endfor %} name="hear[]" value="friend"><span>Friend</span></label>
                                            </li>
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'newsletter' %} checked {% endif %} {% endfor %} name="hear[]" value="newsletter"><span>Newsletter</span></label>
                                            </li>
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'Brand Presenter' %} checked {% endif %} {% endfor %} name="hear[]" value="Brand Presenter"><span>Brand Presenter</span></label>
                                            </li>
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'call center' %} checked {% endif %} {% endfor %} name="hear[]" value="call center"><span>Call Center</span></label>
                                            </li>
                                            <li>
                                                <label><input type="checkbox" {% for her in userdata.hear %}
                                                    {% if her == 'others' %} checked {% endif %} {% endfor %} name="hear[]" value="others"><span>Others</span></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="questionBox two">
                                        Hear more from us!<br>What channel do you want to be contacted from?
                                        <ul>
                                            <li>
                                                <label><input {% if userdata.newsletter == '1' %} checked {% endif %} type="radio" name="newsletter" value="1"><span>Yes, I want to be contacted via</span></label>
                                                <ul>
                                                    <li>
                                                        <label><input type="checkbox" {% for ty in userdata.newsletter_type %}
                                                    {% if ty == 'phone' %} checked {% endif %} {% endfor %} name="newsletter_type[]" value="phone"><span>Phone</span></label>
                                                    </li>
                                                    <li>
                                                        <label><input type="checkbox" {% for ty in userdata.newsletter_type %}
                                                    {% if ty == 'sms' %} checked {% endif %} {% endfor %} name="newsletter_type[]" value="sms"><span>Sms</span></label>
                                                    </li>
                                                    <li>
                                                        <label><input type="checkbox" {% for ty in userdata.newsletter_type %}
                                                    {% if ty == 'email' %} checked {% endif %} {% endfor %} name="newsletter_type[]" value="email"><span>Email</span></label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label><input type="radio" {% if userdata.newsletter == '0' %} checked {% endif %} name="newsletter" value="0"><span>No, I don’t want to hear any news from Nescafe Dolce Gusto.</span></label>
                                            </li>
                                        </ul>
                                    </div>
                                   {# <strong>Connect With Social Media</strong>
                                    <div class="buttonWrapper">
                                        <a href="#" class="fbBtn">Facebook</a>
                                        <a href="#" class="googleBtn">Google</a>
                                        <a href="#" class="igBtn">Instagram</a>
                                    </div>
                                    #}
                                    <button id="submit" type="submit" class="defBtn mobile">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </section>


