
        <section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Frequently Asked Questions</li>
                    </ul>
                </div>
                <div class="content_element">
                    <div class="ce">
                        {% for list in faq %}
                        <div class="ce-accordion">
                            <h2 class="accordion-title">{{ list.question }} </h2>
                            <div class="ce-accordion-box">
                                <p>{{ list.answer }}</p>       
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </section>
