        halohalo{{ slideshow }}
        
		<section>
        	<div class="fullBox container">
            	<div class="bannerWrapper f_left">
                	<div class="bannerBox owl-carousel owl-theme">
                    	<div class="banner"><a href="#"><img src="{{ base_path ~ directory }}/userdata/a.jpg"></a></div>
                    	<div class="banner"><a href="#"><img src="{{ base_path ~ directory }}/userdata/a.jpg"></a></div>
                    	<div class="banner"><a href="#"><img src="{{ base_path ~ directory }}/userdata/a.jpg"></a></div>
                    </div>
                </div>
                <div class="memberBox f_left">
                	<div class="memberTop blue">
                    	<h4 class="title_step"><span class="step_number">1</span>Member Login</h4>
                        <p>Already a member?<br>Log in to add points and discover various prizes to redeem!</p>
                        <a href="#" class="small defBtn">Log In</a>
                        <a href="#" class="forgetPassword">Forget password</a>
                    </div>
                    <div class="memberBottom purple">
                    	<h4 class="title_step">Not a member yet?</h4>
                        <p>Join now and get 1.000 welcome bonus points!</p>
                        <a href="#" class="small defBtn">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="fullBox container">
            	<div class="titleBox green">
          			<h4 class="title_step"><span class="step_number">2</span>Add Your Points</h4>
            	</div>
                <div class="regMachineWrapper">
                    <span>Register machine and get free capsule</span>
                    <div class="uniqueCodeBox">
                    	<input type="text" placeholder="Machine unique code">
                        <a href="#" class="submitBtn">&gt;</a>
                    </div>
                </div>
                <div class="uploadRecWrapper">
                	<span>Upload your receipt and add your points</span>
                    <a href="#" class="uploadRecBtn">Upload Receipt</a>
                </div>
            </div>
            <div class="fullBox container">
            	<div class="titleBox pink">
          			<h4 class="title_step"><span class="step_number">3</span>Redeem point to get prizes!</h4>
            	</div>
                <div class="fullBox prizeWrapper">
                	<div class="prizeBox f_left blue">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/b.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>New Reward Fly<br>with garuda indonesia</span></a></div>
                    </div>
                    <div class="prizeBox f_left green">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/c.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Favorite Reward Cappucinno</span></a></div>
                    </div>
                    <div class="prizeBox f_left pink">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/d.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Map Voucher</span></a></div>
                    </div>
                    <div class="prizeBox f_left brown">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/e.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Refresh and relax<br>with mom n jo</span></a></div>
                    </div>
                </div>
                <div class="fullBox">
	                <button class="viewMore">Lihat Semua Rewards &gt;</button>
                </div>
            </div>
            <div class="fullBox container">
            	<div class="titleBox ">
          			<h4 class="title_step">Blog &amp; Ulasan</h4>
            	</div>
                <div class="fullBox prizeWrapper">
                	<div class="prizeBox f_left gray">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/f.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Coffee Mugs to<br>Light up your day</span></a></div>
                    </div>
                    <div class="prizeBox f_left gray">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/g.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Drop of music in<br>Your Coffee</span></a></div>
                    </div>
                    <div class="prizeBox f_left gray">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/h.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Good Breakfast<br>Good Mood at work</span></a></div>
                    </div>
                    <div class="prizeBox f_left gray">
                    	<div class="prizeImageBox">
                        	<div class="prizeImage"><a href="#"><img src="{{ base_path ~ directory }}/userdata/i.jpg"></a></div>
                        </div>
                        <div class="prizeTitle"><a href="#"><span>Music and<br>Your Personality</span></a></div>
                    </div>
                </div>
                <div class="fullBox">
	                <button class="viewMore">Lihat Semua Artikel &gt;</button>
                </div>
            </div>
        </section>
