	<section>
        <div class="fullBox container">
        	<form action="{{ actionurl }}" method="POST">
        		<input type="hidden" name="form_id" value="profile_form">
            	<input type="hidden" name="_token" value="{{ tokens }}" >
		<h2 class="title">Join Club</h2>
                <div class="fullBox personalData pink">
                	<div class="titleBar">Personal Data*</div>
                    <div class="fullBox registerBox editProfile">
                    	<div class="halfBox">
                        	<div class="fullBox register">
                            	<div class="two_columns">
                                	<span class="info">Title</span>
                        			<select data-tags="true" name="title">
                                        {% if userdata.title == 'Mr' %}
									    	<option selected>Mr</option>
                                        	<option>Mrs</option>
									    {% else %}
									    	<option>Mr</option>
                                        	<option selected>Mrs</option>
                                		{% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="two_columns">
                                	<span class="info">First Name</span>
                        			<input type="text" name="firstname" value="{{ userdata.firstname }}">
                                </div>
                            	<div class="two_columns">
                                	<span class="info">Last Name</span>
                        			<input type="text" name="lastname" value="{{ userdata.lastname }}">
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Email</span>
                        			<input type="text" name="email" value="{{ userdata.email }}">
                                </div>
                            </div>

                            <div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Mobile Number</span>
                        			<input type="text" name="phone" value="{{ userdata.phone }}">
                                </div>
                            </div>

                            {% set birthday = userdata.birthday|split('-') %}
                            <div class="fullBox register">
                            	<div class="fullBox">
                                	<span class="info">Date of Birth</span>
                        			<div class="three_columns">
                                        <select data-tags="true" name="day">
                                        	{% for i in 1..31 %}
                                        		{% if i < 10 %}
                                            		{% set zero = '0' %}
                                            	{% else %}
                                            		{% set zero = '' %}
                                            	{% endif %}
                                        		{% if i == birthday[2] %}
											    	<option selected>{{ zero }}{{ i }}</option>
											    {% else %}
											    	<option>{{ zero }}{{ i }}</option>
                                        		{% endif %}
											{% endfor %}
                                        </select>
                                    </div>
                                    <div class="three_columns">
                                        <select data-tags="true" name="month">
                                            {% for i in 1..12 %}
                                            	{% if i < 10 %}
                                            		{% set zero = '0' %}
                                            	{% else %}
                                            		{% set zero = '' %}
                                            	{% endif %}
                                        		{% if i == birthday[1] %}
											    	<option selected>{{ zero }}{{ i }}</option>
											    {% else %}
											    	<option>{{ zero }}{{ i }}</option>
                                        		{% endif %}
											{% endfor %}
                                        </select>
                                    </div>
                                    <div class="three_columns">
                                        <select data-tags="true" name="year">
                                            {% for i in 1600..2017 %}
                                        		{% if i == birthday[0] %}
											    	<option selected>{{ i }}</option>
											    {% else %}
											    	<option>{{ i }}</option>
                                        		{% endif %}
											{% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="halfBox">
                        	<div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Occupation</span>
                        			<select data-tags="true" name="occupation">
                                    	{% for occupations in occupation %}
                                    		{% if occupations.name == userdata.occupation %}
									        	<option selected>{{ occupations.name }}</option>
                                    		{% else %}
                                    			<option>{{ occupations.name }}</option>
                                    		{% endif %}
									    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Address</span>
                        			<textarea name="adrress">{{ userdata.address }}</textarea>
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="three_columns">
                                	<span class="info">Province</span>
                                    <select data-tags="true" name="province">
                                    	{% for provinces in province %}
                                    		{% if provinces.name == userdata.province %}
									        	<option selected>{{ provinces.name }}</option>
                                    		{% else %}
                                    			<option>{{ provinces.name }}</option>
                                    		{% endif %}
									    {% endfor %}
                                    </select>
                                </div>
                                <div class="three_columns">
                                	<span class="info">City</span>
                                    <select data-tags="true" name="city">
                                        {% for cities in city %}
                                    		{% if cities.name == userdata.city %}
									        	<option selected>{{ cities.name }}</option>
                                    		{% else %}
                                    			<option>{{ cities.name }}</option>
                                    		{% endif %}
									    {% endfor %}
                                    </select>
                                </div>
                                <div class="three_columns">
                                	<span class="info">District</span>
                                    <select data-tags="true" name="district">
                                        {% for districts in district %}
                                    		{% if districts.name == userdata.district %}
									        	<option selected>{{ districts.name }}</option>
                                    		{% else %}
                                    			<option>{{ districts.name }}</option>
                                    		{% endif %}
									    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register check">
                            	{% if userdata.newslatter == 1 %}
                            		<label><input type="checkbox" name="newslatter" value="1" checked>I would like to receive newsletter from My Nescafé Dolce Gusto Club</label>
                            	{% else %}
                            		<label><input type="checkbox" name="newslatter" value="1">I would like to receive newsletter from My Nescafé Dolce Gusto Club</label>
                            	{% endif %}
                            </div>
                    	</div>
                    </div>
                </div>
                <div class="fullBox aboutMe blue">
                	<div class="titleBar">About Me</div>
                    <div class="fullBox registerBox">
                    	<div class="halfBox">
                        	<div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">People in My Family <span>(Choose one)</span></span>
                                    <div class="fullBox statusWrapper">
                                    	<div class="statusBox">
                                        	<input type="radio" name="status" value="Single">
                                        	<div class="statusImage"><img src="/{{ base_path ~ directory }}/images/icon_single.png"></div>
                                            <div class="statusInfo">Single</div>
                                        </div>
                                        <div class="statusBox">
                                        	<input type="radio" name="status" value="Married">
                                        	<div class="statusImage"><img src="/{{ base_path ~ directory }}/images/icon_married.png"></div>
                                            <div class="statusInfo">Married</div>
                                        </div>
                                        <div class="statusBox">
                                        	<input type="radio" name="status" value="Married with kids">
                                        	<div class="statusImage"><img src="/{{ base_path ~ directory }}/images/icon_married_with_kids.png"></div>
                                            <div class="statusInfo">Married with kids</div>
                                        </div>
                                        <div class="statusBox">
                                        	<input type="radio" name="status" value="Big family">
                                        	<div class="statusImage"><img src="/{{ base_path ~ directory }}/images/icon_big_family.png"></div>
                                            <div class="statusInfo">Big family</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fullBox register hobbiesWrapper">
                            	<div class="one_columns">
                                	<span class="info">How i spend my free time <span>(Choose one or more)</span></span>
                                    <div class="fullBox">
                                    	<div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Sports">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_sports.png"></div>
                                            <div class="hobbiesInfo">Sports</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Books">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_books.png"></div>
                                            <div class="hobbiesInfo">Books</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Music">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_music.png"></div>
                                            <div class="hobbiesInfo">Music</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Art">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_arts.png"></div>
                                            <div class="hobbiesInfo">Art</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Food">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_foods.png"></div>
                                            <div class="hobbiesInfo">Food</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Movies">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_movies.png"></div>
                                            <div class="hobbiesInfo">Movies</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Technology">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_technology.png"></div>
                                            <div class="hobbiesInfo">Technology</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Coffee">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_coffee.png"></div>
                                            <div class="hobbiesInfo">Coffee</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Travel">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_travel.png"></div>
                                            <div class="hobbiesInfo">Travel</div>
                                        </div>
                                        <div class="hobbiesBox">
                                        	<input type="checkbox" name="time[]" value="Others">
                                        	<div class="hobbiesImage"><img src="/{{ base_path ~ directory }}/images/icon_others.png"></div>
                                            <div class="hobbiesInfo">Others</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="halfBox">
                        	<div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">My family & I consume Nescafé Dolce Gusto <span>(Per week)</span></span>
                        			<select data-tags="true" name="consume_dolcegusto">
                                        {% if userdata.consume_dolcegusto == '1 - 2 Cups' %}
                                            <option selected>1 - 2 Cups</option>
                                            <option>3 - 5 Cups</option>
                                            <option>5 - 10 Cups</option>
                                            <option>> 10 Cups</option>
                                        {% elseif userdata.consume_dolcegusto == '3 - 5 Cups' %}
                                            <option>1 - 2 Cups</option>
                                            <option selected>3 - 5 Cups</option>
                                            <option>5 - 10 Cups</option>
                                            <option>> 10 Cups</option>
                                        {% elseif userdata.consume_dolcegusto == '5 - 10 Cups' %}
                                            <option>1 - 2 Cups</option>
                                            <option>3 - 5 Cups</option>
                                            <option selected>5 - 10 Cups</option>
                                            <option>> 10 Cups</option>
                                        {% elseif userdata.consume_dolcegusto == '> 10 Cups' %}
                                            <option>1 - 2 Cups</option>
                                            <option>3 - 5 Cups</option>
                                            <option>5 - 10 Cups</option>
                                            <option selected>> 10 Cups</option>
                                        {% else %}
                                            <option>1 - 2 Cups</option>
                                            <option>3 - 5 Cups</option>
                                            <option>5 - 10 Cups</option>
                                            <option>> 10 Cups</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Do you have a Nescafé Dolce Gusto machine?</span>
                        			<select data-tags="true" name="have_machine">
                                        {% if userdata.have_machine == 'Yes' %}
									    	<option selected>Yes</option>
                                        	<option>No</option>
									    {% else %}
									    	<option>Yes</option>
                                        	<option selected>No</option>
                                		{% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                            	<div class="one_columns">
                                	<span class="info">Register your Nescafé Dolce Gusto machine now?</span>
                        			<select data-tags="true" data-placeholder="-Select-" name="register_machine">
                                        {% if userdata.register_machine == 'Yes' %}
									    	<option selected>Yes</option>
                                        	<option>Later</option>
									    {% else %}
									    	<option>Yes</option>
                                        	<option selected>Later</option>
                                		{% endif %}
                                    </select>
                                    <p>Prepare your machine code</p>
                                </div>
                            </div>
                            <div class="fullBox">
                            	<div class="purple"><button type="submit" class="defBtn medium f_right">save changes</button></div>
                            	<div class="gray"><a href="/guest/profile/" class="defBtn medium f_right">Cancel</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>    
            <div id="tick" data-free="{{ userdata.free_time }}" data-family="{{ userdata.family }}">
        </div>
    </section>
