<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <!--<div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if userdata.profilepic %}
                                         <img src="{{ base_url }}apidolcegusto/uploads/{{ userdata.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div> -->
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ userdata.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content">
                            <form action="{{ base_url }}guest/pointbalance" method="post">
                            <div class="sortWrapper">
                                <input type="text" name="start_date" class="datepicker" autocomplete="off" placeholder="Start Date">
                                <input type="text" name="end_date" class="datepicker" autocomplete="off" placeholder="End Date">
                                <button type="submit" class="defBtn" style="width: 120px;
    height: 35px;
    background: #3FC4E8;
    display: block;
    float: right;
    line-height: 35px;
    color: #fff;
    font-family: 'RobotoBold';
    text-transform: uppercase;
    border-radius: 5px;cursor:pointer;">Submit</button>
                            </div>
                            </form>
                            <table class="point_balance">
                                <tr>
                                    <td width="25%">Date</td>
                                    <td width="65%">Description</td>
                                    <td width="10%">Points</td>
                                </tr>
                                {% for listdatas in listdata %}
                                <tr>
                                    <td width="25%">{{ listdatas.created_at }}</td>
                                    <td width="65%">{% if listdatas.description!='' %}
                                        {{ listdatas.description }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}</td>
                                    <td width="10%">{% if listdatas.status==0 %}
                                        PENDING
                                    {% elseif listdatas.status==1 %}
                                        {% if listdatas.type == 1 %}
                                        + {{ listdatas.point }}
                                        {% else %}
                                        - {{ listdatas.point }}
                                        {% endif %}
                                    {% elseif listdatas.status==2 %}
                                    REJECTED
                                    {% endif %}</td>
                                </tr>
                                {% endfor %}
                                
                            </table>
                            <span class="notice">* Points submission by uploading receipt needs 2 working days to be processed</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
