<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Terms &amp; Condition</li>
                    </ul>
                </div>
                <div class="content_element">
                    <p>Program ini diselenggarakan oleh PT. NESTL&Egrave; INDONESIA, berkantor di Perkantoran Hijau Arkadia, Wisma Nestl&egrave; Lantai 5, Jl. Let.Jend.TB.Simatupang Kav. 88, Jakarta Selatan 12520 (untuk selanjutnya disebut sebagai "Penyelenggara"). Seluruh peserta yang terlibat dan berpartisipasi aktif dalam Program ini ("Peserta"), dengan ini dianggap telah membaca dan memahami dengan baik, serta setuju tanpa syarat untuk patuh dan taat pada syarat dan ketentuan.</p>
                    <strong>SYARAT AWAL DAN PENDAFTARAN</strong>
                    <p>Program ini hanya dapat diikuti oleh pelanggan Nescaf&egrave; Dolce Gusto di Indonesia.<br>
                    Peserta dapat mendaftarkan diri melalui website dolce-gusto.sahabatnestlerewards.co.id. Setelah mendaftarkan data diri, maka Anda akan mendapatkan email notifikasi untuk aktivasi akun yang dapat digunakan untuk melakukan interaksi selanjutnya.<br>Data yang diterima sepenuhnya menjadi milik Penyelenggara dan akan digunakan untuk kepentingan Program.</p>
                    <strong>PENGUMPULAN POIN</strong>
                    <p>Program ini dimulai pada 15 April 2017.<br>
                    Untuk saat ini program berlaku untuk pembelian mesin Nescaf&egrave; Dolce Gusto dan/atau kapsul Nescaf&egrave; Dolce Gusto semua varian.</p>
                    <p>Melakukan pendaftaran melalui website sebelum melakukan pengumpulan poin. Pengumpulan poin dapat dilakukan dengan mengunggah struk asli komputerisasi pembelian mesin dan/atau kapsul Nescaf&egrave; Dolce Gusto melalui website dolce-gusto.sahabatnestlerewards.co.id.</p>
                    <p>Struk pembelian yang dianggap valid adalah:<br>
                    Struk asli tercetak mesin/komputerisasi (bukan struk manual/fotokopi/tulisan tangan).<br>
                    Struk yang diserahkan harus utuh (tidak terpotong-potong atau tidak tergunting).<br>
                    Struk yang diserahkan harus terbaca dengan jelas.</p>
                    <p>Struk yang diserahkan harus tercantum nama toko, tanggal pembelian, waktu pembelian dan jumlah produk yang dibeli.<br>
                    Simpanlah fotokopi struk asli pembelian apabila terdapat kendala dalam proses pengumpulan poin.</p>
                    <p>Perhitungan maksimal poin yang dapat dikumpulkan adalah pembelian 1 mesin Nescaf&egrave; Dolce Gusto dan 10 box kapsul Nescaf&egrave; Dolce Gusto per bulan.</p>
                    <p>Struk pembelian akan diverifikasi terlebih dahulu. Proses verifikasi akan memakan waktu 3 hari kerja. Poin akan langsung bertambah jika struk pembelian telah terverifikasi.</p>
                    <p>PT Nestl&egrave; Indonesia berhak menolak jika terdapat kejanggalan dalam proses verifikasi struk pembelian.</p>
                    <p>Syarat dan ketentuan mengenai pengumpulan poin yang tercantum dalam website dapat berubah sewaktu-waktu tanpa pemberitahuan sesuai dengan kebijakan PT Nestl&egrave; Indonesia.</p>
                </div>
            </div>
        </section>
