
<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li><a href="{{ base_url }}/rewards">Rewards</a></li>
                        <li>{{ product_data.detail_category.title }}</li>
                    </ul>
                </div>
                <div class="fullBox section_rewards">
                    <div class="sr_left">
                        <div class="reward_slider">
                                <div class="rs_box"><img src="{{ apiurl }}uploads/{{ product_data.detail_category.image }}"></div>
                        </div>
                        <div class="reward_thumbs">
                                <div class="rs_box"><img src="{{ apiurl }}uploads/{{ product_data.detail_category.image }}"></div>
                        </div>
                    </div>
                    {% set x = 1 %}
                    <div class="sr_right rewardInfoBox" data-baseurl="{{ base_url }}">
                        <div class="srd_title">{{ product_data.detail_category.title }}</div>
                        <div class="srd_two">

                            {% set x = 1 %}
                            {% for product_datas in product_data.product_list %}

                            <div class="fullBox row_redem_data">
                                <input id="product_id_{{ x }}" data-setval="0" name="product_id" data-setid="input_data_{{ x }}" class="product_id input_class input_data_{{ x }}" type="hidden" value="{{ product_datas.id }}">
                                <input type="hidden" value="1" data-setid="input_data_{{ x }}" name="type" class="input_class input_data_{{ x }}">

                                <span class="coin">{{ product_datas.default_point }} Points</span>
                                <div class="quantityBox">
                                    <span>Quantity</span>
                                    <span class="plusBtn plusBtn1">+</span>
                                    <input type="text" name="jumlah" data-setid="input_data_{{ x }}" value="1" id="count_{{ x }}" class="total_class input_class input_data_{{ x }}">
                                    <span class="minusBtn minusBtn1">-</span>
                                </div>
                            </div>
                            {% set x = x + 1 %}
                            {% endfor %}

                            <div class="fullBox">
                                <button id="btnAddCart" class="atcBtn" style="cursor:pointer;">Redeem</button>
                                {# <a href="#" class="miBtn">More Info</a> #}
                            </div>
                        </div>
                        <div class="srd_three">
                            <ul>
                                <li><a href="#info_one" class="active">Detail</a></li>
                                <li><a href="#info_two">How To Use</a></li>
                                <li><a href="#info_three">Terms &amp; Conditions</a></li>
                            </ul>
                            <div class="srd_info" id="info_one">
                                <p>{{ product_data.detail_category.description }}</p>
                            </div>
                            <div class="srd_info" id="info_two">
                                {{ product_data.detail_category.how_to_use|raw }}
                            </div>
                            <div class="srd_info" id="info_three">
                                {{ product_data.detail_category.terms|raw }}
                            </div>
                        </div>
                        <a href="{{ base_url }}rewards" class="sorBtn">Continue Redeem</a>
                    </div>

                </div>
            </div>
        </section>

    {% if point %}
        {% set logged = 1 %}
    {% else %}
        {% set logged = 0 %}
    {% endif %}

        <div class="popupWrapper popupWrapperSuc" data-logged="{{ logged }}">
            <div class="overlay overlay2" onclick="hide_popup();"></div>
            <div class="popupBox atc_popup rewardPopup">
                {% if point %}
                    <img src="{{ base_url }}/themes/dolcegusto/dist/images/check-circle.png">
                    <span>Successfully added to your cart</span>
                    <div class="buttonWrapper">
                        <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/rewards'">Add other reward</button>
                        <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/guest/redeem'">Redeem Now</button>
                    </div>
                {% else %}
                    <span>You should login to redeem</span>
                    <div class="buttonWrapper">
                       <button style="cursor:pointer;width:100%;" onclick="location.href='https://connect.sahabatnestle.co.id/sso/auth?response_type=code&action=login&client_id=6_2j9oj5gdiu68w8kkgwkss8gskogssgowwooooo8sog0c40w0cg&redirect_uri=https%3A%2F%2Fdolce-gusto.sahabatnestlerewards.co.id%2Fredirect&scope=user'">Login Now</button>
                    </div>
                {% endif %}
            </div>
        </div>

            <div class="popupWrapper popupWrapperErr">
        <div class="overlay overlay1" onclick="hide_popup();"></div>
        <div class="popupBox atc_popup errorPopup">
                <span id="errorRedeemMessage">You don't have enough points</span>  
                <div class="buttonWrapper">
                    <button style="cursor:pointer;" onclick="hide_popup();">Close</button>
                    <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/guest/submitpoint'">Get More Points</button>
                </div>
                    
            </div>
    </div>