<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <!--<div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if (userdata.profilepic) %}
                                        <img src="{{ base_url }}apidolcegusto/uploads/{{ userdata.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>
                            <form action="{{ url('custompage.upload_profile_photo') }}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="imgupload" id="imgupload" style="display: none;" accept="image/x-png,image/jpeg" required>
                            <button type="submit">Upload</button>
                            </form> -->
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ userdata.point }}</span>
                            </div>
                            <a href="{{ base_url }}/guest/editprofile" class="edit_profile_btn">Edit Profile</a>
                        </div>
                        <div class="rs_content submit_points edit_profile my_profile">
                            <div class="sp_top">
                                <div class="spt_box">
                                    <span class="my_name">{# {{ userdata.title }}. #} {{ userdata.firstname }} {{ userdata.lastname }}</span>
                                    <table>
                                        <tr>
                                            <td width="38%">Member ID</td>
                                            <td width="1%">:</td>
                                            <td width="61%">{{ userdata.member_id }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>{{ userdata.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>:</td>
                                            <td>{{ userdata.birthday }}</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile Number</td>
                                            <td>:</td>
                                            <td>{{ userdata.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td>Occupation</td>
                                            <td>:</td>
                                            <td>{{ userdata.occupation }}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>:</td>
                                            <td style="word-break: break-word;">{{ userdata.address|raw }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="spt_box">
                                    {#<div class="referalWrapper">
                                        <h5>Share to Your Friends</h5>
                                        <p>Share this link to your friends. You and your friends will get extra points when they register their first machine.</p><br>
                                        <strong>Referral ID:   {{ userdata.referal_id }}</strong>
                                        <textarea id="referal">https://dolce-gusto.sahabatnestlerewards.co.id/getrefferalcode?code={{ userdata.referal_id }}</textarea>
                                        <button class="btn defBtn"  data-clipboard-action="copy" data-clipboard-target="#referal">Copy</button>
                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
