

<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if point.profilepic %}
                                        <img src="{{ base_url }}/temp/{{ point.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ point.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content summaryBox" data-baseurl="{{ base_url }}">
                            <h3>Steps to redeem your points:</h3>
                            <div class="rs_step">
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_gift.png"></div>
                                    <span>Choose Rewards</span>
                                </div>
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_home.png"></div>
                                    <span>Delivery Address</span>
                                </div>
                                <div class="rss_box">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_checklist.png"></div>
                                    <span>Confirmation</span>
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td width="50%">Item</td>
                                    <td width="15%">Quantity</td>
                                    <td width="15%">Points</td>
                                    <td width="20%">Delete</td>
                                </tr>
                                {% set total_point = 0 %}
                                {% for carts in cart %}
                                    {% set perpoint = 0 %}
                                    {% set perpoint = carts.quantity * carts.default_point%}

                                 <tr  class="summaryRow">
                                    <td width="50%">{{ carts.product_name }}</td>
                                    <td width="15%">{{ carts.quantity }}</td>
                                    <td width="15%">{{ perpoint }}</td>
                                    <td width="20%"><button data-point="{{ perpoint }}" class="deleteBtn"  data-cartid="{{ carts.id }}" data-quantity="{{ carts.quantity }}">Delete</button></td>
                                </tr>
                                    {% set total_point = total_point + perpoint %}
                                {% endfor %}
                                <tr>
                                    <td width="50%">Total</td>
                                    <td width="15%"></td>
                                    <td width="15%" class="totalRedeemBox">{{ total_point }}</td>
                                    <td width="20%"></td>
                                </tr>
                            </table>
                            <form action="{{ base_url }}nextredeem" method="POST" id="formEditProfile" data-baseurl="{{ base_url }}">
                            <input type="hidden" name="type" value="address">
                            <input type="hidden" name="address" value="{{ point.default_address }}">
                            <div class="shippingWrapper">
                                <div class="halfBox">
                                    <h4>Shipping Address</h4>
                                    {% for addresss in address %}
                                    {% if addresss.id == point.default_address %}
                                    <strong>{{ addresss.name }} {{ addresss.phone }}</strong>
                                    <p>
                                        {{ addresss.address }}
                                    </p>
                                    <p>
                                        {{ addresss.province }}, {{ addresss.city }}, {{ addresss.district }}, {{ addresss.postal_code }}
                                    </p>
                                    <input type="hidden" name="type" value="address">
                                    <input type="hidden" name="address" value="{{ addresss.id }}">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="halfBox">
                                    <div class="addShipping" onclick="show_popup_asa();">
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_home2.png">
                                        Ship to different Address
                                    </div>
                                </div>
                            </div>
                                    <div id="selectCity" style="display: none">
                                        {% for cities in city %}
                                            <span class="class-{{ cities.province|replace({' ':''}) }}"><option>{{ cities.name }}</option></span>
                                        {% endfor %}
                                    </div>

                            <div class="buttonWrapper">
                                <a href="{{ base_url }}/prevredeem" class="sorBtn">Back</a>
                                <button type="submit" style="cursor:pointer;" class="defBtn">Next</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="popupWrapper">
        <div class="overlay" onclick="hide_popup();"></div>
        <div class="popupBox asa_popup">
            <ul class="fullBox menu_address">
                <li><a href="#address_one" class="active">Shipping Address</a></li>
                <li><a href="#address_two">Add new address</a></li>
            </ul>
            <form action="{{ base_url }}nextredeem" method="POST" id="formEditProfile" data-baseurl="{{ base_url }}">
            <input type="hidden" name="type" value="address">

            <div class="addressBox" id="address_one">
                <table>
                    <tr>
                        <td width="30%">Name</td>
                        <td width="50%">Address</td>
                        <td width="15%">Phone</td>
                        <td width="5%"></td>
                    </tr>
                    {% for addresss in address %}
                    {% if addresss.id == point.default_address %}
                    <tr>
                        <td>{{ addresss.name }}</td>
                        <td>{{ addresss.address }}</td>
                        <td>{{ addresss.phone }}</td>
                        <td><label><input type="radio" checked name="address" value="{{ addresss.id }}"><span></span></label></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ addresss.name }}</td>
                        <td>{{ addresss.address }}</td>
                        <td>{{ addresss.phone }}</td>
                        <td><label><input type="radio" name="address" value="{{ addresss.id }}"><span></span></label></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <button type="submit">Save</button>
            </div>
            </form>
            <div class="addressBox" id="address_two">
            <form action="{{ base_url }}nextredeem" method="POST" id="formEditProfile" data-baseurl="{{ base_url }}">
            <input type="hidden" name="type" value="addnew">
                <ul class="fullBox">
                    
                    <li>
                        <span>Name</span>
                        <input type="text" name="name" required >
                    </li>
                    <li>
                        <span>Province</span>
                        <select id="selectProvince" name="province" data-tags="true" data-placeholder="-Select Provinsi-" required>
				<option value=""></option>
                             {% for provinces in province %}
                                <option>{{ provinces.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span>Phone</span>
                        <input type="text" name="phone" required>
                    </li>
                    <li>
                        <span>City</span>
                        <select id="cityAppend" name="city" data-tags="true" data-placeholder="-Select Kota-" required>
                            <option></option>
                        </select>
                    </li>
                    <li>
                        <span>Address</span>
                        <textarea name="addresstext" required></textarea>
                    </li>
                    <li>
                        <span>District</span>
                        <select id="appenddistrict" name="district" data-tags="true" data-placeholder="-Select Kecamatan-" required>
                            <option></option>
                        </select>
                    </li>
                    <li>
                        <span>Post Code</span>
                        <input type="text" name="postal_code" required>
                    </li>
                    
                </ul>
                <button type="submit">Save</button>
                </form>
            </div>
            <a href="#" class="closeBtn" onclick="hide_popup();">Close</a>
        </div>
    </div>
