<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if point.profilepic %}
                                        <img src="{{ base_url }}/temp/{{ point.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ point.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content">
                            <h3>Steps to redeem your points:</h3>
                            <div class="rs_step">
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_gift.png"></div>
                                    <span>Choose Rewards</span>
                                </div>
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_home.png"></div>
                                    <span>Delivery Address</span>
                                </div>
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_checklist.png"></div>
                                    <span>Confirmation</span>
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td width="50%">Item</td>
                                    <td width="15%">Quantity</td>
                                    <td width="15%">Points</td>
                                    <td width="20%">Delete</td>
                                </tr>
                                {% set total_point = 0 %}
                                {% for carts in cart %}
                                    {% set perpoint = 0 %}
                                    {% set perpoint = carts.quantity * carts.default_point%}
                                <tr>
                                    <td width="50%">{{ carts.product_name }}</td>
                                    <td width="15%">{{ carts.quantity }}</td>
                                    <td width="15%">{{ perpoint }}</td>
                                    <td width="20%"><button data-point="{{ perpoint }}" class="deleteBtn"  data-cartid="{{ carts.id }}" data-quantity="{{ carts.quantity }}">Delete</button></td>
                                </tr>
                                {% set total_point = total_point + perpoint %}
                                {% endfor %}
                                <tr>
                                    <td width="50%">Total</td>
                                    <td width="15%"></td>
                                    <td width="15%">{{ total_point }}</td>
                                    <td width="20%"></td>
                                </tr>
                            </table>
                            <div class="shippingDetails">
                                <h4>Shipping Address</h4>
                                <strong>{{ success.address.name }} {{ success.address.phone }}</strong> 
                                <p>{{ success.address.address }}, {{ success.address.district }}, {{ success.address.city }}, {{ success.address.province }} {{ success.address.postal_code }}</p><br>
                                <strong>Estimated delivery time:</strong>
                                <p>14 business days from the order confirmation date.</p><br>
                                <strong>Operation hours:</strong>
                                <p>Monday - Friday: 9 AM - 6 PM. No delivery on Saturday, Sunday and Public Holiday</p>
                            </div>
                            <div class="buttonWrapper">
                                <a href="{{ base_url }}/prevredeem" class="sorBtn">Back</a>
                                <a href="{{ base_url }}/nextredeem" class="defBtn">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>