

<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                           <div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if point.profilepic %}
                                        <img src="{{ base_url }}/temp/{{ point.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ point.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content finished">
                            <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_gift_black.png">
                            <h3>You have successfully redeemed your points.<br>Your reward is ready for shipment.</h3>
                            <p>Continue collecting points from NESCAFE Dolce Gusto products purchase.</p>
                            <p>Any inquiries call us at 080018-21028</p>
                            <p>Monday to Sunday 08.00 - 24.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>