<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <!--<div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if point.profilepic %}
                                         <img src="{{ base_url }}apidolcegusto/uploads/{{ point.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>-->
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ point.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content summaryBox" data-baseurl="{{ base_url }}">
                            <h3>Steps to redeem your points:</h3>
                            <div class="rs_step">
                                <div class="rss_box active">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_gift.png"></div>
                                    <span>Choose Rewards</span>
                                </div>
                                <div class="rss_box">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_home.png"></div>
                                    <span>Delivery Address</span>
                                </div>
                                <div class="rss_box">
                                    <div class="rss_img"><img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_checklist.png"></div>
                                    <span>Confirmation</span>
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td width="50%">Item</td>
                                    <td width="15%">Quantity</td>
                                    <td width="15%">Points</td>
                                    <td width="20%">Delete</td>
                                </tr>
                                {% set total_point = 0 %}
                                {% for carts in cart %}
                                    {% set perpoint = 0 %}
                                    {% set perpoint = carts.quantity * carts.default_point%}
                                <tr class="summaryRow">
                                    <td width="50%">{{ carts.product_name }}</td>
                                    <td width="15%">{{ carts.quantity }}</td>
                                    <td width="15%">{{ perpoint }}</td>
                                    <td width="20%"><button class="deleteBtn" data-point="{{ perpoint }}" data-cartid="{{ carts.id }}" data-quantity="{{ carts.quantity }}">delete</button></td>
                                </tr>
                                    {% set total_point = total_point + perpoint %}
                                {% endfor %}

                                <tr>
                                    <td width="50%">Total</td>
                                    <td width="15%"></td>
                                    <td width="15%" class="totalRedeemBox">{{ total_point }}</td>
                                    <td width="20%"></td>
                                </tr>
                            </table>
                            <div class="buttonWrapper">
                                <a href="{{ base_url }}/rewards" class="sorBtn">See Rewards</a>
                                <a href="{{ base_url }}/nextredeem" class="defBtn">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script>
        var count = 1;
        var countEl = document.getElementById('count');
        function plus(){
            count++;
            countEl.value = count;
        }
        function minus(){
          if (count > 1) {
            count--;
            countEl.value = count;
          }  
        }
        </script>