<section>
    <div class="fullBox container">
        <div class="fullBox myAccount">
            {% include directory ~ '/includes/sidebar.html.twig' %}
            
            <div class="sideContentWrapper">
                <div class="fullBox">
                    <h3>Share To Your Friend</h3>
			<p>Share this link to your friends. You and your friend will get extra points when they register their first machine</p><br>
                    <table><tbody><tr><td>Referral ID</td><td>:</td><td>{{ userdata.referal_id }}</td></tr></tbody></table>
                    <div class="input-group">
                        <input id="foo" type="text" value="{{ base_url }}/getrefferalcode?code={{ userdata.referal_id }}">
                        <span class="input-group-button">
                            <button class="btnclip" type="button" data-clipboard-demo="" data-clipboard-target="#foo">Copy
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
