<section>
    <div class="fullBox container">
        <div class="fullBox myAccount">
            {% include directory ~ '/includes/sidebar.html.twig' %}
            <form action="{{ actionurl }}" method="POST" enctype="multipart/form-data">
                <div class="sideContentWrapper">
                    <div class="fullBox r_machineBox">
                        <div class="fullBox small_70">
                        	<strong style="color: blue">{{ checkref.message }}</strong>
                            <p>Enter machine registration code (located on machine welcome brochure)</p>
                            <div class="submitCodeBox">
                                <input type="text" value="{{ uniquecode }}" name="serialnumber" placeholder="Masukin kode unik mesin">
                            </div>
                        </div>
                        <div class="fullBox small_30">  
                            <img src="/{{ base_path ~ directory }}/images/code_voucher.jpg">
                        </div>
                    </div>
                    <span class="or_nonepos">OR (choose one only!)</span>
                    <div class="fullBox register special machine">
                        <div class="two_columns">
                            <span class="info">Enter promo code (if any) to get extra point</span>
                            <input type="text" name="uniquecode" placeholder="promo code (6 digit)">
                        </div>
                        <span class="and_t">And</span>
                        <div class="two_columns new_upload">
                            <span class="info">&nbsp;</span>
                            <input type="file" required name="image" id="upload_unique">
                            <div class="uploadButton"><span>Upload your receipt</span></div>
                            <div class="pathBox"></div>
                        </div>
                    </div>
                    <div class="fullBox machine_list">
                        <div class="fullBox ml_title">
                            Choose machine model <span class="redBtn"></span>Manual <span class="greenBtn"></span>Automatic
                        </div>
                        <div class="fullBox mlWrapper">
                            {% for machines in machine %}
                                <div class="machineListBox">
                                {% if machines.machine_model == 1 %}    
				<span class="redBtn"></span>
				{% else %}
				<span class="greenBtn"></span>
				{% endif %}
                                    <input type="radio" name="product_id" value="{{ machines.id }}">
                                    <div class="machineListImg"><img src="{{ apiurl }}/apidolcegusto/uploads/{{ machines.image }}"></div>
                                    <div class="machineListInfo">{{ machines.name }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="fullBox registerBox">
                        <div class="fullBox small_70">
                            <div class="fullBox register">
                                <div class="one_columns">
                                    <span class="info">How I get my machine?</span>
                                    <select name="getmachine" data-tags="true" data-placeholder="-Select Title-">
                                        <option></option>
                                        <option>buy</option>
                                        <option>give</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                                <div class="fulBox">
                                    <span class="info">Time of purchase</span>
                                    <div class="three_columns">
                                        <select name="month" data-tags="true" data-placeholder="MM">
                                            {% for i in 1..12 %}
                                                {% if i < 10 %}
                                                    {% set zero = '0' %}
                                                {% else %}
                                                    {% set zero = '' %}
                                                {% endif %}
                                                <option>{{ zero }}{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="three_columns">
                                        <select name="year" data-tags="true" data-placeholder="YYYY">
                                            {% for i in 1980..2018 %}
                                                <option>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fullBox small_70">
                            <div class="fullBox register">
                                <div class="one_columns">
                                    <span class="info">Place of purchase</span>
                                    <select name="place" data-tags="true" data-placeholder="-Select Place-">
                                        <option></option>
                                        <option>Taman Anggrek</option>
                                        <option>Central Park</option>
                                   	<option>Other</option>
				     </select>
                                </div>
                            </div>
                            <div class="fullBox register">
                                <div class="one_columns">
                                    <span class="info">Store Name</span>
                                    <select name="store" data-tags="true" data-placeholder="-Select Store-">
                                        <option></option>
                                        <option>Besk Denki</option>
                                        <option>Carefour</option>
					<option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fullBox left">
                       <!--<a href="#" class="medium defBtn cancelBtn">Cancel</a>-->
                        <button type="submit" class="medium defBtn regMacBtn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
