<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Rewards</li>
                    </ul>
                </div>
                <div class="section_rewards">
                    {% for product_reward in product_rewards %}
                    <div class="rewards_box r_list">
                        <div class="reward_img">
                            <a href="{{ base_url }}/rewards/{{ product_reward.alias }}"><img src="{{ apiurl }}uploads/{{ product_reward.image }}" style="width:100%"></a>
                        </div>
                        <div class="reward_info">
                            <div class="rl_top"><h3><a href="{{ base_url }}/rewards/{{ product_reward.alias }}">{{ product_reward.title }}</a></h3></div>
                            <div class="rl_bottom">Start from <span style="color:#21b7ff;"> {{ product_reward.point }} points </span></div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
