

<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li><a href="{{ base_url }}/rewards">Rewards</a></li>
                        <li>{{ product_data.title }}</li>
                    </ul>
                </div>
                {% if point %}
                    {% set logged = 1 %}
                {% else %}
                    {% set logged = 0 %}
                {% endif %}
                <div id="base" data-baseurl="{{ base_url }}" data-logged="{{ logged }}">
                <div class="section_rewards">
                    {% for product_reward in product_rewards %}

                    <div class="rewards_box r_detail">
                        <div class="reward_img">
                            <a href="{{ base_url }}/rewards/{{ product_reward.alias }}"><img src="{{ apiurl }}uploads/{{ product_reward.media }}" style="width:100%"></a>
                        </div>
                        <div class="reward_info">
                            <h3><a href="{{ base_url }}/rewards/{{ product_reward.alias }}">{{ product_reward.name }}</a></h3>
                            <div class="r_point">
                                <span class="point">{{ product_reward.default_point }} Points</span>
                            </div>
                            <div class="button_wrapper">
                                <button class="atcBtn btnAddCartSingle" data-product_id="{{ product_reward.id }}">Redeem</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

        <div class="popupWrapper popupWrapperSuc" data-logged="{{ logged }}">
        <div class="overlay overlay2" onclick="hide_popup();"></div>
        <div class="popupBox atc_popup rewardPopup">
            {% if point %}
                <img src="{{ base_url }}/themes/dolcegusto/dist/images/check-circle.png">
                <span>Successfully added to your cart</span>
                <div class="buttonWrapper">
                    <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/rewards'">Add other reward</button>
                    <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/guest/redeem'">Redeem Now</button>
                </div>
            {% else %}
                <span>You should login to redeem</span>
                <div class="buttonWrapper">
                    <button style="cursor:pointer;width:100%;" onclick="location.href='https://connect.sahabatnestle.co.id/sso/auth?response_type=code&action=login&client_id=6_2j9oj5gdiu68w8kkgwkss8gskogssgowwooooo8sog0c40w0cg&redirect_uri=https%3A%2F%2Fdolce-gusto.sahabatnestlerewards.co.id%2Fredirect&scope=user'">Login Now</button>
                </div>
            {% endif %}

            
            </div>
        </div>

        <div class="popupWrapper popupWrapperErr">
            <div class="overlay overlay1" onclick="hide_popup();"></div>
            <div class="popupBox atc_popup errorPopup">
                <span id="errorRedeemMessage">You don't have enough points</span>  
                <div class="buttonWrapper">
                    <button style="cursor:pointer;" onclick="hide_popup();">Close</button>
                    <button style="cursor:pointer;" onclick="location.href='{{ base_url }}/guest/submitpoint'">Get More Points</button>
                </div>
                    
            </div>
        </div>
