<section>
            <div class="container container_border_top no_padding">
                <div class="fullBox redeemWrapper">
                    {% include directory ~ '/includes/sidebar.html.twig' %}
                    <div class="redeem_section">
                        <div class="fullBox rs_top">
                            <!--<div class="photoBox" style="overflow: hidden;">
                                    <label class="upload" for="imgupload">
                                        {% if userdata.profilepic %}
                                        <img src="{{ base_url }}apidolcegusto/uploads/{{ userdata.profilepic }}" style="width: 100%">
                                        {% else %}
                                        <img src="{{ base_url }}/themes/dolcegusto/dist/images/icon_login.png">
                                        {% endif %}
                                    </label>
                            </div>-->
                            <div class="ballanceBox">
                                Current Points Balance
                                <span>{{ userdata.point }}</span>
                            </div>
                        </div>
                        <div class="rs_content submit_points">
                            <form action="{{ base_url }}guest/updatepoint" id="formsubmitpoint" method="POST" enctype="multipart/form-data" data-baseurl="{{ base_url }}">
                            <input type="hidden" name="form_id" value="submitpoint_form">
                            <div class="sp_top">
                                <div class="spt_box">
                                    <ul>
                                        <li>
                                            <span>Where did you buy the product?</span>
                                            <select>
                                                {% for lok in lokasi %}
                                                <option value="{{ lok.name }}">{{ lok.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>Channel of purchase</span>
                                            <select required name="place_name" id="channelAppend">
                                                <option value="">-- Select Channel of purchase --</option>
                                                {% for chan in channel.data %}
                                                <option value="{{ chan.name }}">{{ chan.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>Store name</span>
                                            <select name="store_name" id="appendstore">
                                            <option value="">-- Select Store --</option>
                                            </select>
                                        </li>
                                        <li>
                                            <span>Enter promo code (if any) to get extra point</span>
                                            <input type="text" minlength="6" maxlength="6" placeholder="promo code (6 digit)"  name="promo_code">
                                        </li>
                                    </ul>
                                    <button type="submit" style="cursor:pointer;" class="defBtn desktop">Submit</button>
                                    
                                </div>
                                <div class="spt_box">
                                    <div class="uniqueWrapper">
                                        Enter unique code
                                        <input type="text" minlength="10" maxlength="11" placeholder="Unique Code"  name="unique_code" required>
                                        <span class="orBg">OR (Choose One)</span>
                                        <div class="uploadBox">
                                            Upload
                                            <p style="font-size:13px;">* jpeg, png, max size 2MB</p>
                                            <div class="uploadWrapper">
                                                <input type="file" id="upload" name="receipt" class="photoBtn" required>
                                                <span>Upload</span>
                                                <img src="#" class="imgPreview" id="previewImg">
                                            </div>
                                            <span>Your Receipt</span>
                                        </div>
                                    </div>
                                    <button type="submit" style="cursor:pointer;" class="defBtn mobile">Submit</button>
                                </div>
                            </div>
                            </form>
                            <div class="sp_bot">
                                <h4>SUBMISSION SUMMARY</h4>
                                <table>
                                    <tr>
                                        <td width="33.3333%">Date/Time</td>
                                        <td width="33.3333%">Code/Receipt</td>
                                        <td width="33.3333%">Points</td>
                                    </tr>
                                    {% for summarys in summary%}
                                    <tr>
                                        <td>{{ summarys.created_at }}</td>
                                        <td>{% if summarys.receipt_id!=0 %}
                                                <a target="_blank" href="{{ api_url }}uploads/{{ summarys.image }}">Receipt Uploaded</a>
                                            {% else %}
                                                {{ summarys.unique_code }}
                                            {% endif %}
                                        </td>
                                        <td>{% if summarys.status==0 %}
                                                PENDING
                                            {% elseif summarys.status==2 %}
                                                REJECTED
                                            {% else %}
                                                + {{ summarys.point }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <p>* Points submission by uploading receipt needs 2 working days to be processed</p>
                                <p>* Click on “Receipt uploaded” to see your receipt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="popupWrapper popupWrapperErr">
        <div class="overlay overlay1" onclick="hide_popup();"></div>
        <div class="popupBox atc_popup errorPopup">
                <span id="suctex"></span>  
                <div class="buttonWrapper">
                    <button style="cursor:pointer;width:100%;" onclick="hide_popup();">Ok</button>
                </div>
                    
            </div>
        </div>

