<section>
            <div class="container container_border_top">
                <div class="breadcrumb">
                    <ul class="fullBox">
                        <li>Terms &amp; Conditions</li>
                    </ul>
                </div>
                <div class="content_element">
                    {{ faq.content|raw }}
                </div>
            </div>
        </section>
