/*===========================================================================
0.0 Common
===========================================================================*/

@charset "UTF-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;margin:0;padding:0;}fieldset,img{display:block; border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}legend{padding:0;border:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-spacing:0;border-collapse:collapse}td,th{padding:0}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

button, select{
	border: none;
	background: none;
	padding: 0;
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-style: none;
}

select:focus, option:focus, select::-moz-focus-inner, option::-moz-focus-inner {
    outline: none;
    border: none;
}

option {
	color: #FFF;
	background-color: #B23662;
}

input, textarea {
	border: none;
}

textarea {
	resize: none;
}

body, p, input, textarea{
	font-family: 'Montserrat Light', arial;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	color: #B23662;
}

h1 {
	font-size: 60px;
}

h2{
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 24px;
}

a {
	text-decoration: none;
	outline: medium none;
	color: #808285;
}

strong {
	font-weight: bold;
}

span.frank-red {
	color: #B23662;
}

.wrapper {
	position: relative;
}

header, section {
	width: 100%;
}

.img-responsive {
	width: 100%;
	height: 100%;
}

.img-cover {
	object-fit: cover;
}

.btn-primary {
	max-width: 320px;
	width: 100%;
	line-height: 60px;
	display: inline-block;
}

.btn-frank-red {
	background-color: #B23662;
	color: #FFF;
	font-family: 'Playfair Display', serif;
}

button.btn-frank-red:hover,
button.btn-frank-red:focus,
button.btn-frank-red:active,
button.btn-frank-red.active,
a.btn-frank-red:hover,
a.btn-frank-red:focus,
a.btn-frank-red:active,
a.btn-frank-red.active {
	background-color: #8E2B4E;
}

button.btn-frank-red:hover .btn-social-inverse i,
button.btn-frank-red:focus .btn-social-inverse i,
button.btn-frank-red:active .btn-social-inverse i,
button.btn-frank-red.active .btn-social-inverse i,
a.btn-frank-red:hover .btn-social-inverse i,
a.btn-frank-red:focus .btn-social-inverse i,
a.btn-frank-red:active .btn-social-inverse i,
a.btn-frank-red.active .btn-social-inverse i {
	color: #8E2B4E;
}

.btn-frank-white {
	background-color: #FFF;
	color: #B23662;
	font-family: 'Playfair Display', serif;
}

.btn-gray {
	background-color: #E6E7E8;
}

.btn-sm {
	max-width: 180px;
	line-height: 40px;
}

.checkbox,
.checkbox label {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.checkbox {
	overflow: hidden;
	transition: 300ms;
	-webkit-transition: 300ms;
	-ms-transition: 300ms;
}

.checkbox input {
	display: none;
}

.checkbox input:checked + label {
	color: #FFF;
}

.checkbox.active .fa-square::before {
	content: '\f14a';
}

.checkbox label {
	z-index: 3;
	transition: 300ms;
	-webkit-transition: 300ms;
	-ms-transition: 300ms;
}

.click-efect {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #8E2B4E;
	border-radius: 50%;
}

.form-error, .form-error p {
	color: #F00;
}

.bx-wrapper .bx-controls-direction a {
	width: 64px;
	height: 64px;
}

.bx-wrapper .bx-prev {
	background: url('../images/arrow-left-white.png') no-repeat center;
	background-size: contain;
}

.bx-wrapper .bx-next {
	background: url('../images/arrow-right-white.png') no-repeat center;
	background-size: contain;
}

.bx-wrapper .bx-next:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #BCBEC0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #B23662;
}

.overlay-all {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 5;
	display: none;
}

@media only screen and (max-width: 640px) {
	.bx-wrapper .bx-controls-direction a {
		width: 32px;
		height: 32px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 10px;
		height: 10px;
	}
}


/*===========================================================================
0.1 Header
===========================================================================*/

header {
	position: fixed;
	z-index: 10000;
}

.header-top {
	background-color: #FFF;
	padding: 25px 15px;
}

.header-left {
	display: inline-block;
	text-align: left;
}

.header-right {
	float: right;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.header-logo {
	width: 143px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.header-nav, .header-menu {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: #A7A9AC;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: center;
}

.header-menu-sidebar {
	display: none;
}

.header-note {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
	line-height: 14px;
	background-color: #B23662;
	color: #FFF;
	border-radius: 100%;
	font-size: 10px;
	text-align: center;
	display: none;
}

.header-menu:hover,
.header-menu:focus,
.header-menu:active,
.header-menu.active {
	color: #B23662;
}

.header-right ul li {
	float: left;
}

.nav-container {
	overflow: hidden;
	position: fixed;
	width: 610px;
	height: 100vh;
	bottom: 10px;
	display: none;
	z-index: 100;
}

nav {
	display: inline-block;
	font-size: 16px;
	width: 630px;
	padding-top: 120px;
	padding-left: 10px;
	height: 100vh;
	overflow: auto;
}

nav ul.nav-menu li {
	display: block;
	position: relative;
}

ul.nav-menu, ul.nav-dropdown {
	text-transform: uppercase;
}

ul.nav-menu, ul.nav-dropdown, .nav-footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

ul.nav-menu, ul.list-social, .nav-footer {
	background-color: rgba(255, 255, 255, 0.75);
	width: 290px;
	position: relative;
}

ul.nav-menu a {
	color: #B23662;
	display: block;
	padding: 10px 20px;
	position: relative;
}

ul.nav-menu a:hover,
ul.nav-menu a:focus,
ul.nav-menu a:active,
ul.nav-menu a.active {
	color: #FFF;
	background: #B23662;
}

ul.nav-menu a:hover + span,
ul.nav-menu a:focus + span,
ul.nav-menu a:active + span,
ul.nav-menu a.active + span {
	color: #FFF;
}

.parent-dropdown + span {
	display: inline-block;
	color: #B23662;
	float: right;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.parent-dropdown + span::after {
	content: '\e809';
	font-family: 'font-isys-fnco';
	font-size: 19px;
}

.parent-dropdown.active + span::after {
	content: '\e808';
}

ul.nav-dropdown {
	background-color: rgba(178, 54, 98, 0.75);
	width: 100%;
	position: absolute;
	margin-top: -102px;
	margin-left: 100%;
	display: none;
}

ul.nav-dropdown a {
	color: #FFF;
	display: block;
	padding: 10px 20px;
	margin-left: 20px;
	margin-right: -20px;
}

ul.nav-dropdown a:hover,
ul.nav-dropdown a:focus,
ul.nav-dropdown a:active,
ul.nav-dropdown a.active {
	background: #591B31;
}

ul.list-social {
	display: inline-flex;
	padding-left: 20px;
}

ul.list-social li {
	float: left;
	margin-right: 10px;
}

.btn-social {
	background-color: #B23662;
	width: 32px;
	height: 32px;
	line-height: 30px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	color: #FFF;
}

.btn-social-inverse {
	background-color: #FFF;
	width: 32px;
	height: 32px;
	line-height: 30px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	color: #B23662;
}

.nav-footer {
	display: block;
	font-size: 12px;
	padding-left: 20px;
}

.header-sidebar {
	width: 335px;
	height: 100vh;
	background-color: #F1F2F2;
	position: fixed;
	padding-top: 100px;
	right: -25px;
	padding-right: 10px;
	overflow: auto;
	display: none;
}

/*.animation-delay.fadeOutRight {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.animation-delay.slideOutRight {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}*/

.sidebar-item {
	display: block;
	width: 100%;
	line-height: 60px;
	padding: 0px 20px;
	font-size: 14px;
	color: #58595B;
	text-align: left;
}

.header-sidebar-mobile .sidebar-item {
	border-bottom: 2px solid #A7A9AC;
}

.sidebar-item span {
	font-size: 18px;
}

.sidebar-item.btn-frank-red {
	color: #FFF;
}

.sidebar-item.btn-frank-white {
	color: #B23662;
}

.sidebar-item.btn-frank-red, .sidebar-item.btn-gray, input.sidebar-item, select.sidebar-item {
	font-size: 18px;
}

input.sidebar-item {
	border-bottom: 2px solid #A7A9AC;
}

input#title, select#title {
	border-bottom: 2px solid #B23662;
}

select#title {
	background: #FFF url('../images/arrow-down.png') no-repeat 275px;
	background-size: 32px 32px;
	height: 62px;
	cursor: pointer;
}

select#title option {
	padding: 0px 20px;
}

.header-sidebar .checkbox {
	width: 100%;
	margin-bottom: -3px;
}

#sidebar-register span.btn-social-inverse {
	margin-right: 10px;
}

#btn-register i {
	float: right;
	font-size: 24px;
}

#sidebar-search input.sidebar-item {
	border-bottom: none;
}

#sidebar-search ul li:nth-child(2) {
	width: 250px;
	float: left;
}

#sidebar-search ul li:nth-child(3) {
	width: 75px;
	float: right;
	padding-right: 15px;
}

.btn-sidebar-search {
	background-color: #8E2B4E;
	color: #FFF;
	font-size: 24px;
	padding: 0px;
	text-align: center;
}

.header-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 720px) {
	.header-top {
		text-align: center;
		padding: 10px 15px;
	}

	.header-left {
		float: left;
	}

	.header-logo {
		margin-top: 5px;
		margin-left: 0px;
	}

	.header-right ul {
		display: none;
	}

	.header-menu-sidebar {
		display: inline-block;
	}

	.nav-container {
		width: 300px;
	}

	nav {
		padding-top: 90px;
	}

	ul.nav-menu, ul.list-social, .nav-footer {
		background-color: #F1F2F2;
	}

	ul.nav-menu {
		overflow: hidden;
	}

	ul.nav-menu a:hover + span,
	ul.nav-menu a:focus + span,
	ul.nav-menu a:active + span,
	ul.nav-menu a.active + span {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
		padding: 10px 19px;
	}

	ul.nav-dropdown {
		margin-top: 0px;
		margin-left: 0px;
		z-index: 1 !important;
	}

	ul.nav-dropdown a {
		margin: 0;
	}

	ul.nav-dropdown.fadeInLeft {
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
		position: relative;
	}

	ul.nav-dropdown.fadeOutLeft {
		-webkit-animation-name: fadeOutDown;
		animation-name: fadeOutDown;
		position: absolute;
	}

	.header-sidebar {
		padding-top: 65px;
	}
}

/*===========================================================================
0.2 Section Content
===========================================================================*/

section {
	font-size: 14px;
	padding: 100px 0px;
	color: #A7A9AC;
	position: relative;
	overflow: hidden;
}

section h2:first-child {
	padding: 50px 0px 30px;
}

section#home h2 {
	padding-bottom: 0px;
}

.gradient-gray-white {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: -10;
	background: #FFF;
	background: -webkit-linear-gradient(#F1F2F2, #FFF);
	background: -moz-linear-gradient(#F1F2F2, #FFF);
	background: linear-gradient(#F1F2F2, #FFF);
}

.banner-top {
	height: 360px;
	position: relative;
}

#banner-top-1 {
	background: #FFF url('../images/banner-1.jpg') no-repeat top center;
	/*background:none;*/
	margin-bottom: 40px;
}
#banner-top-1 h2{
	color: #FFF;
}

#banner-top-2 {
	background: transparent url('../images/banner-2.png') no-repeat top center;
	margin-bottom: 10px;
	color: #FFF;
}

#banner-top-2 h2 {
	color: #FFF;
}

.banner-top h2 {
	text-align: left;
	position: absolute;
	top: 100px;
	left: 100px;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0px auto;
	position: relative;
}

#col-frank-red {
	background-color: #B23662;
	color: #FFF;
	position: relative;
}

#col-frank-red h3 {
	color: #FFF;
}

.col-full {
	width: 100%;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 4;
}

.banner-magic {
	max-width: 600px;
	width: 100%;
	margin: 0px auto;
	padding: 35px 0px;
	position: relative;
}

.banner-magic i {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	font-size: 40px;
}

.highlight-item h2, .banner-top h2 {
	padding: 0 !important;
}

.highlight-item ul {
	overflow: auto;
}

.highlight-item ul li {
	float: left;
	position: relative;
}

.highlight-item ul li:before {
	content: '';
	display: block;
}

.highlight-item ul li .highlight-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.highlight-item ul li .highlight-content, .highlight-img-container {
	overflow: hidden;
}

.highlight-item ul li .highlight-content img {
	position: absolute;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.highlight-item ul li .highlight-content:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	-moz-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}

.highlight-item ul li .highlight-caption {
	padding: 40px 50px;
	position: absolute;
	width: 50%;
}

.highlight-item ul li.theme-light .highlight-caption h2,
.highlight-item ul li.theme-light .highlight-caption h3 {
	color: #B23662;
}

.highlight-item ul li.theme-light .highlight-caption .highlight-desc,
.highlight-item ul li.theme-light .highlight-caption .highlight-desc p {
	color: #808285;
}

.highlight-item ul li.theme-dark .highlight-caption h2,
.highlight-item ul li.theme-dark .highlight-caption h3,
.highlight-item ul li.theme-dark .highlight-caption .highlight-desc,
.highlight-item ul li.theme-dark .highlight-caption .highlight-desc p {
	color: #FFF;
}

/*Temporary starts*/
.highlight-title h2 {
	font-size: 36px;
}
/*Temporary ends*/

.highlight-desc, .highlight-desc p {
	font-size: 18px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-white, .text-white h2, .text-white h3 {
	color: #FFF;
}

.top-left {
	top: 0;
	left: 0;
}

.top-center {
	top: 0;
	left: 50%;
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	transform: translatex(-50%);
}

.top-right {
	top: 0;
	right: 0;
}

.center-left {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}

.center-center {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-right {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-center {
	bottom: 0;
	left: 50%;
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	transform: translatex(-50%);
}

.bottom-right {
	bottom: 0;
	right: 0;
}

.highlight-1-container {
	width: 80%;
	right: 0;
	position: absolute;
}

.highlight-1 .highlight-caption {
	padding: 0px !important;
	width: 100% !important;
}

.highlight-1 ul li .highlight-content img {
	position: relative;
}

.highlight-1 ul li:first-child img,
.highlight-1 ul li:first-child .highlight-1-container,
.highlight-1 ul li:last-child .highlight-caption {
	top: 0;
}

.highlight-1 ul li:last-child img,
.highlight-1 ul li:last-child .highlight-1-container,
.highlight-1 ul li:first-child .highlight-caption {
	bottom: 0;
}

.highlight-1 ul li:first-child .highlight-caption {
	margin-bottom: -100px;
}

.highlight-1 ul li:last-child .highlight-caption {
	margin-top: -100px;
}

/* Highlight 1 */
.highlight-1 ul li {
	width: 50%;
}

.highlight-1 ul li:nth-child(1) {
	background-color: #FFF;
}

.highlight-1 ul li:nth-child(2) {
	background-color: #F1F2F2;
}

.highlight-1 ul li:before {
	padding-top: 100%;
}

/* Highlight 2 */
.highlight-2 ul li:nth-child(1) {
	width: 40%;
	background-color: #000;
}

.highlight-2 ul li:nth-child(2),
.highlight-2 ul li:nth-child(3) {
	width: 60%;
}

.highlight-2 ul li:nth-child(2) {
	background-color: #FFF;
}

.highlight-2 ul li:nth-child(3) {
	background-color: #F1F2F2;
}

.highlight-2 ul li:nth-child(1):before {
	padding-top: 150%;
}

.highlight-2 ul li:nth-child(2):before,
.highlight-2 ul li:nth-child(3):before {
	padding-top: 50%;
}

/* Highlight 3 */
.highlight-3 ul li:nth-child(1),
.highlight-3 ul li:nth-child(2) {
	width: 60%;
}

.highlight-3 ul li:nth-child(1) {
	background-color: #FFF;
}

.highlight-3 ul li:nth-child(2) {
	background-color: #F1F2F2;
}

.highlight-3 ul li:nth-child(3) {
	width: 40%;
	margin-top: -30%;
	background-color: #000;
}

.highlight-3 ul li:nth-child(1):before,
.highlight-3 ul li:nth-child(2):before {
	padding-top: 50%;
}

.highlight-3 ul li:nth-child(3):before {
	padding-top: 150%;
}

/* Highlight 4 */
.highlight-4 ul li:nth-child(1),
.highlight-4 ul li:nth-child(4) {
	width: 40%;
}

.highlight-4 ul li:nth-child(1) .highlight-caption,
.highlight-4 ul li:nth-child(4) .highlight-caption {
	width: 100%;
}

.highlight-4 ul li:nth-child(2),
.highlight-4 ul li:nth-child(3) {
	width: 60%;
}

.highlight-4 ul li:nth-child(1) {
	background-color: #000;
}

.highlight-4 ul li:nth-child(2) {
	background-color: #FFF;
}

.highlight-4 ul li:nth-child(3) {
	background-color: #F1F2F2;
}

.highlight-4 ul li:nth-child(4) {
	background-color: #B23662;
	margin-top: -20%;
}

.highlight-4 ul li:nth-child(1):before {
	padding-top: 100%;
}

.highlight-4 ul li:nth-child(2):before,
.highlight-4 ul li:nth-child(3):before,
.highlight-4 ul li:nth-child(4):before {
	padding-top: 50%;
}

/* Highlight 5 */
.highlight-5 ul li:nth-child(1),
.highlight-5 ul li:nth-child(3) {
	width: 60%;
}

.highlight-5 ul li:nth-child(2),
.highlight-5 ul li:nth-child(4) {
	width: 40%;
}

.highlight-5 ul li:nth-child(2) .highlight-caption,
.highlight-5 ul li:nth-child(4) .highlight-caption {
	width: 100%;
}

.highlight-5 ul li:nth-child(1) {
	background-color: #FFF;
}

.highlight-5 ul li:nth-child(2) {
	background-color: #000;
}

.highlight-5 ul li:nth-child(3) {
	background-color: #F1F2F2;
	margin-top: -10%;
}

.highlight-5 ul li:nth-child(4) {
	background-color: #B23662;
}

.highlight-5 ul li:nth-child(2):before {
	padding-top: 100%;
}

.highlight-5 ul li:nth-child(1):before,
.highlight-5 ul li:nth-child(3):before,
.highlight-5 ul li:nth-child(4):before {
	padding-top: 50%;
}

/* Highlight 6 */
.highlight-6 ul li {
	width: 50%;
}

.highlight-6 ul li:nth-child(1) {
	background-color: #F1F2F2;
}

.highlight-6 ul li:nth-child(2) {
	background-color: #FFF;
}

.highlight-6 ul li:nth-child(3) {
	background-color: #000;
}

.highlight-6 ul li:nth-child(1):before {
	padding-top: 100%;
}

.highlight-6 ul li:nth-child(2):before,
.highlight-6 ul li:nth-child(3):before {
	padding-top: 50%;
}

/* Highlight 7 */
.highlight-7 ul li {
	width: 50%;
}

.highlight-7 ul li:nth-child(1) {
	background-color: #FFF;
}

.highlight-7 ul li:nth-child(2) {
	background-color: #F1F2F2;
}

.highlight-7 ul li:nth-child(3) {
	margin-top: -25%;
	background-color: #000;
}

.highlight-7 ul li:nth-child(1):before,
.highlight-7 ul li:nth-child(3):before {
	padding-top: 50%;
}

.highlight-7 ul li:nth-child(2):before {
	padding-top: 100%;
}

@media only screen and (max-width: 1178px) {
	.highlight-1 ul li:first-child .highlight-caption {
		margin-bottom: -75px;
	}

	.highlight-1 ul li:last-child .highlight-caption {
		margin-top: -75px;
	}

	.highlight-title h2 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 960px) {
	section#home h2 {
		font-size: 24px;
	}

	.highlight-item ul li .highlight-caption {
		padding: 15px;
	}

	.highlight-title h3 {
		font-size: 18px;
	}

	.highlight-desc, .highlight-desc p {
		font-size: 12px;
	}

	.highlight-1 ul li:first-child .highlight-caption {
		margin-bottom: -55px
	}

	.highlight-1 ul li:last-child .highlight-caption {
		margin-top: -55px
	}

	.highlight-2 ul li:first-child .highlight-caption,
	.highlight-3 ul li:last-child .highlight-caption {
		width: 75%;
	}
} 

@media only screen and (max-width: 720px) {
	section {
		padding: 70px 0px;
	}

	.gradient-gray-white {
		top: 70px;
	}
}

@media only screen and (max-width: 640px) {
	section#home h2 {
		font-size: 26px;
		/*font-size: 10px;*/
	}

	.mobile-hide {
		display: none;
	}

	.highlight-item ul li {
		width: 100% !important;
		margin: 0 !important;
	}

	.highlight-item ul li .highlight-caption {
		padding: 20px;
	}

	.highlight-title h3 {
		font-size: 20px;
		/*font-size: 10px;*/
	}

	.highlight-desc, .highlight-desc p {
		font-size: 12px;
		/*font-size: 6px;*/
	}

	.highlight-1-container {
		position: relative;
		margin: 0px auto
	}

	.highlight-1 ul li .highlight-caption {
		margin-bottom: -60px !important;
		margin-top: 0px !important;
		position: relative;
	}
}


/*===========================================================================
0.3 Footer
===========================================================================*/

footer {
	text-align: center;	
}

footer h4 {
	padding-bottom: 10px;
}

.footer-top {
	background-color: #F9F9F9;
	padding: 40px 0px;
}

.footer-menu, .footer-more {
	overflow: auto;
	max-width: 960px;
	width: 100%;
	margin: 0px auto;
}

.footer-menu {
	padding-bottom: 50px;
}

.footer-top ul li {
	display: inline-block;
	border-right: 2px solid #808285;
	padding-left: 5px;
	padding-right: 7px;
}

.footer-related ul li {
	border: none;
}

.footer-top ul li:last-child,
.footer-menu ul li:first-child {
	border-right: none;
}

.footer-more-col {
	width: 50%;
	float: left;
}

.footer-related {
	display: none;
}

.footer-more-col ul li {
	margin-bottom: 10px;
}

.footer-bottom {
	text-transform: uppercase;
	color: #B23662;
	padding: 30px;
}

@media only screen and (max-width: 960px) {
	.footer-more-col {
		width: 100%;
	}
}


/*===========================================================================
0.4 Popup
===========================================================================*/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100000;
}

.popup-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
	position: absolute;
	width: 100%;
	max-width: 660px;
	top: 100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.popup-box {
	background-color: #FFF;
	padding: 40px 10px;
	position: relative;
	text-align: center;
	font-size: 16px;
}

#popup-thanksub .popup-box {
	padding: 100px 10px;
}

.popup-title,
.popup-desc,
.popup-close {
	font-family: 'Playfair Display', serif;
	color: #B23662;
}

.popup-title {
	font-size: 24px;
}

.popup-desc {
	font-size: 14px;
	margin-bottom: 20px;
}

.popup-close {
	font-size: 16px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.popup-form-item {
	display: inline-block;
	width: 100%;
	max-width: 460px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #B23662;
	margin-bottom: 20px;
}

.popup-form-item:last-of-type {
	margin-bottom: 50px;
}

.popup-socials {
	text-align: center;
	margin-top: 20px;
}

.popup-social {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

/*.popup-social .fa,*/
.popup-social .btn-social,
.popup-social p {
	display: block;
	margin: 0 auto;
}

/*.popup-social .btn-social {
	font-size: 50px;
	width: 64px;
	height: 64px;
}*/

/*.popup-social .fa {
	font-size: 50px;
	margin-bottom: 20px;
}

.popup-social .fa-facebook {
	color: #4C76BE;
}

.popup-social .fa-twitter {
	color: #00C7FF;
}*/

.popup-social p {
	color: #BCBEC0;
}

.popup-productID {
	display: none;
}

@media only screen and (max-width: 640px) {
	.popup-content {
		max-width: 460px;
	}
}

@media only screen and (max-width: 480px) {
	.popup-content {
		max-width: 300px;
	}
}


/*===========================================================================
1.0 Home
===========================================================================*/

.home-banner {
	height: 100%;
}

section#home .bx-wrapper {
	margin: 0 auto;
}

section#home .bx-wrapper .bx-viewport {
	left: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

section#home .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 30px;
}

.img-banner-container {
	/*height: -webkit-calc(100vh - 100px);
	height: -moz-calc(100vh - 100px);
	height: calc(100vh - 100px);*/
}

.img-home-banner {
	width: 100%;
	min-height: 100%;
}

section#home .container {
	text-align: center;
	padding-top: 50px;
}

.instagram-title {
	text-transform: uppercase;
}

#instafeed {
	padding: 30px 0px;
}

#instafeed::after {
	content: '';
	display: block;
	clear: both;
}

#instafeed a {
	float: left;
	width: 33.3333%;
	padding: 5px;
}

#instafeed img {
	width: 100%;
}

.btn-instagram {
	font-size: 24px;
	max-width: 310px;
}

@media only screen and (max-aspect-ratio: 3/2) {
	.img-banner-container {
		height: auto;
	}

	.img-home-banner {
		min-height: 0;
	}
}


/*===========================================================================
2.0 Contact Us
===========================================================================*/

section#contact .container {
	text-align: center;
}

.contact-caption, .contact-form {
	padding: 15px 10px;
}

.contact-form {
	overflow: auto;
}

.contact-form span {
	line-height: 60px;
}

.contact-form ul li {
	float: left;
	width: 50%;
	padding: 0px 10px;
}

.contact-form ul li:last-child {
	width: 100%;
}

.contact-item {
	width: 100%;
	line-height: 60px;
	padding: 0px 25px;
	font-size: 14px;
	border-bottom: 2px solid #A7A9AC;
}

.contact-form textarea {
	height: 184.8px;
}

.contact-form button {
	margin-top: 30px;
}

@media only screen and (max-width: 720px) {
	.contact-form ul li {
		width: 100%;
	}

	.contact-item {
		max-width: 320px;
		display: block;
		margin: 0 auto;
	}
}

/*===========================================================================
3.0 Register
===========================================================================*/

section#register .container {
	text-align: center;
	padding: 0px 10px;
}

.register-caption, .register-form {
	padding: 15px 0px;
}

.register-caption {
	color: #6D6E71;
}

.register-form {
	overflow: auto;
}

.register-form ul li {
	float: left;
	width: 50%;
	padding: 0px 10px;
}

.register-form ul li:first-child,
.register-form ul li:nth-child(4),
.register-form ul li:nth-child(7),
.register-form ul li:last-child {
	width: 100%;
}

.register-item {
	width: 100%;
	line-height: 60px;
	padding: 0px 25px;
	font-size: 14px;
	border-bottom: 2px solid #A7A9AC;
}

.register-form ul li:first-child .register-item {
	max-width: 320px;
	text-align: center;
}

.register-form a, .register-form button, .register-form .checkbox {
	margin-top: 30px;
}

@media only screen and (max-width: 720px) {
	.register-form ul li {
		width: 100%;
		padding: 0px;
	}

	.register-item {
		max-width: 320px;
	}
}


/*===========================================================================
4.0 Login
===========================================================================*/

section#login .container {
	text-align: center;
	padding: 0px 10px;
}

.login-caption, .login-form {
	padding: 15px 0px;
}

.login-caption, .login-caption a {
	color: #6D6E71;
}

.login-form {
	overflow: auto;
	margin-bottom: 50px;
}

.login-form ul li {
	float: left;
	width: 100%;
}

.login-item {
	max-width: 320px;
	width: 100%;
	line-height: 60px;
	padding: 0px 25px;
	font-size: 14px;
	border-bottom: 2px solid #A7A9AC;
	text-align: center;
}

.login-form a, .login-form button {
	margin-top: 30px;
}


/*===========================================================================
5.0 My Dream Diamond
===========================================================================*/

section#dream-diamond .container {
	text-align: center;
}

section#dream-diamond .banner-top .container {
	max-width: 1600px;
}

#dream-diamond #banner-top-2 {
	background: none;
	height: auto;
}

#dream-diamond #banner-top-2::before,
#dream-diamond #banner-top-2::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
}

#dream-diamond #banner-top-2::before {
	left: 0;
	background-color: #FFF;
}

#dream-diamond #banner-top-2::after {
	right: 0;
	background-color: #3C0011;
}

#dream-diamond #banner-top-2 h2 {
	display: none;
}

.banner-dream,
.banner-dream-mobile {
	width: 100%;
}

.banner-dream-mobile {
	display: none;
}

.banner-caption {
	position: absolute;
	top: 15%;
	right: 20%;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 15px;
	line-height: 45px;
}

.dream-share {
	padding: 20px 0px;
}

.dream-url {
	width: 100%;
	max-width: 320px;
	line-height: 60px;
	background-color: #F9F9F9;
	font-size: 16px;
	padding: 0px 10px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	text-align: left;
}

.btn-copylink {
	max-width: 200px;
	font-size: 24px;
	display: inline-block;
	vertical-align: top;
}

/*.dream-items {
	overflow-y: auto;
	overflow-x: hidden; 
}*/

.dream-items::after {
	content: '';
	display: block;
	clear: both;
}

.dream-item {
	width: 33.3333%;
	float: left;
	position: relative;
}

.dream-item::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.dream-item-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #F9F9F9;
	margin: 10px;
}

.dream-item-caption {
	background-color: rgba(109, 110, 113, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
}

.dream-item-caption:hover {
	opacity: 1;
}

.dream-item-text {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 40%;
}

.dream-item-text h5, .dream-item-text ul, .dream-item-text .btn-dream {
	margin-bottom: 25px
}

.dream-item-text a {
	/*text-indent: -9999px;*/
	overflow: hidden;
	/*position: absolute;*/
	top: 0;
	left: 0;
	/*width: 100%;
	height: 100%;*/
}

.dream-item-text h5 {
	color: #FFF;
}

.dream-item-text ul {
	overflow: auto;
}

.dream-item-text ul li {
	display: inline-block;
	color: #FFF;
	position: relative;
	font-size: 18px;
}

.dream-item-text ul li button:hover,
.dream-item-text ul li button:focus,
.dream-item-text ul li button:active,
.dream-item-text ul li button.active {
	color: #B23662;
}

.dream-item-text ul li i.icon-mail {
	font-size: 15px;
	padding-right: 5px;
}

.btn-dream {
	display: inline-block;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	position: relative;
}

@media only screen and (max-width: 1178px) {
	.banner-caption {
		font-size: 20px;
		right: 15%;
	}
}

@media only screen and (max-width: 960px) {
	.banner-caption {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 12px;
	}
}

@media only screen and (max-width: 720px) {
	.banner-caption {
		font-size: 12px;
		line-height: 20px;
		right: 10%;
	}

	.dream-item {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.banner-dream {
		display: none;
	}

	.banner-dream-mobile {
		display: block;
	}

	.banner-caption {
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 16px;
		top: 5%;
		left: 20%;
		right: 0;
	}
}

@media only screen and (max-width: 480px) {
	.banner-caption {
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 14px;
	}
}

@media only screen and (max-width: 360px) {
	.banner-caption {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 10px;
	}
}


/*===========================================================================
6.0 News & Event
===========================================================================*/

section#news-event .container {
	text-align: center;
}

.news-slider {
	position: relative;
	margin: 20px auto 0px;
	border-radius: 4px;
}

.news-slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
	list-style: none;
}

.news-slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 680px;
	height: 510px;
	background: transparent;
	text-align: center;
	opacity: 0.5;
}

.news-slider ul li:nth-child(3) {
	opacity: 1;
}

.news-slider ul li .slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.news-slider ul li:nth-child(3) .slider-overlay {
	display: none;
}

.news-slider ul li .slider-image {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}

.news-slider ul li .slider-image img {
	width: 100%;
	min-height: 100%;
}

.news-slider ul li .slider-caption {
	padding-top: 20px;
}

.control-prev, .control-next {
	position: absolute;
	top: 175px;
	z-index: 9;
	display: block;
	width: 64px;
	height: 64px;
	text-indent: 9999px;
	overflow: hidden;
}

.control-prev:hover, .control-next:hover {
	-webkit-transition: all 0.2s ease;
}

.control-prev {
	background: url('../images/arrow-left.png');
	left: -200px;
}

.control-next {
	background: url('../images/arrow-right.png');
	right: -200px;
}

.news-mobile {
	display: none;
	text-align: center;
}

.news-mobile ul li .slider-image {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.news-mobile ul li .slider-image::before {
	content: '';
	display: block;
	padding-top: 75%;
}

.news-mobile ul li .slider-image a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.news-mobile ul li .slider-image img {
	width: 100%;
	min-height: 100%;
}

.news-mobile ul li .slider-caption {
	margin-bottom: 40px;
}

.news-items {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 50px 0px;
}

ul.news-items li {
	position: relative;
	width: 33.3333%;
	float: left;
	margin-bottom: 25px;
}

ul.news-items li .news-item {
	padding: 10px;
}

ul.news-items li .news-item .news-image {
	position: relative;
	width: 100%;
}

ul.news-items li .news-item .news-image::before {
	content: '';
	display: block;
	padding-top: 100%;
}

ul.news-items li .news-item .news-image img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

ul.news-items li .news-item .news-caption p {
	font-size: 14px;
	padding: 14px 0px;
	color: #58595B;
}

ul.news-items li .news-item .news-caption a {
	color: #A7A9AC;
}

@media only screen and (max-width: 720px) {
	.news-slider {
		display: none;
	}

	.news-mobile {
		display: block;
	}

	ul.news-items li {
		width: 100%;
	}
}


/*===========================================================================
6.1 News Detail
===========================================================================*/

section#news-detail .container {
	text-align: center;
}

section#news-detail h2:first-child {
	padding: 50px 0px 24px;
}

.news-date, .news-date p {
	font-size: 24px;
}

section#news-detail .bx-wrapper {
	margin: 30px auto 38px;
}

section#news-detail .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
	height: 450px !important;
}

.news-detail-wrapper {
	max-width: 640px;
	width: 100%;
	margin: 0px auto;
}

ul.news-detail-slider, ul.news-detail-slider li {
	height: 100%;
}

ul.news-detail-slider li img {
	width: 100%;
	min-height: 100%;
}

#news-detail-pager a {
	width: 100px;
	height: 100px;
	display: inline-block;
	opacity: 0.25;
	overflow: hidden;
}

#news-detail-pager a.active {
	opacity: 1;
}

#news-detail-pager a img {
	width: 100%;
	min-height: 100%;
}

.news-desc {
	text-align: left;
	color: #58595B;
	max-width: 720px;
	width: 100%;
	margin: 42px auto;
	padding: 0px 10px;
}

.news-desc p {
	font-size: 14px;
}

section#news-detail .bx-controls-direction {
	display: none;
}

section#news-detail ul.news-items {
	margin: 20px 0px;
}


/*===========================================================================
7.0 Product
===========================================================================*/

section#product h2:first-child {
	padding: 0;
	font-size: 36px;
}

.product-header, ul.product-items li, ul.product-icons li {
	float: left;
	position: relative;
}

.product-header {
	width: 60%;
}

.product-header, .product-header p, .product-header h2 {
	color: #FFF;
}

.product-header::before {
	content: '';
	display: block;
	padding-top: 33.3333%;
}

.product-header-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
	margin: 10px 10px 10px 0px;
	background: #B23662 url('../images/product-header-pattern.png') no-repeat right 30px;
	background-size: 295px 312px;
}

.product-header-title, .product-header-desc {
	width: 50%;
}

ul.product-items li {
	width: 20%;
	display: block;
}

ul.product-items li:nth-of-type(24n+1) {
	width: 40%;
	float: right;
	text-align: center;
}

ul.product-items li:nth-of-type(24n-14) {
	width: 40%;
	text-align: center;
}

ul.product-items li:nth-of-type(24n+1) ul.product-icons li,
ul.product-items li:nth-of-type(24n-14) ul.product-icons li {
	float: none;
	display: inline-block;
}

ul.product-items li::before {
	content: '';
	display: block;
	padding-top: 100%;
}

ul.product-items li:nth-of-type(24n-14)::before {
	padding-top: 99.9%;
}

ul.product-items li .product-item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 10px;
	background-color: #F9F9F9;
	overflow: hidden;
}

ul.product-items li .product-item img {
	width: 100%;
	min-height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ul.product-items li .product-item:hover img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
	-moz-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}

ul.product-items li:nth-of-type(24n+1) .product-item .product-item-caption,
ul.product-items li:nth-of-type(24n-14) .product-item .product-item-caption {
	padding: 30% 20% 20px;
}

ul.product-items li .product-item .product-item-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(109, 110, 113, 0.6);
	color: #FFF;
	/*opacity: 0;*/
	padding: 20px;
	display: none;
}

ul.product-items li .product-item .product-item-caption a:first-child {
	display: none;
}

.product-item-caption h5, .product-item-caption p, .product-item-caption ul {
	padding-bottom: 10px;
}

.product-item-caption h5 {
	font-size: 18px;
}

.product-item-caption p {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

/*ul.product-items li .product-item .product-item-caption:hover {
	opacity: 1;
}*/

ul.product-items li .product-item .product-item-caption a.first-child {
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.product-items li .product-item .product-item-caption h5 {
	color: #FFF;
}

ul.product-icons {
	overflow: auto;
}

ul.product-icons li {
	width: auto;
	padding-right: 5px;
	font-size: 18px;
}

ul.product-icons li button:hover,
ul.product-icons li button:focus,
ul.product-icons li button:active,
ul.product-icons li button.active {
	color: #B23662;
}

ul.product-icons li .icon-mail {
	font-size: 15px;
}

ul.product-icons li:first-child {
	padding-right: 10px;
	width: auto;
	float: left;
}

ul.product-icons li::before {
	display: none;
}

.product-item-blocker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

@media only screen and (max-width: 1178px) {
	ul.product-icons {
		display: none;
	}

	.product-header-title, .product-header-desc {
		width: 100%;
	}

	section#product h2:first-child {
		font-size: 26px;
	}

	.product-item-caption h5, .product-item-caption p, .product-item-caption ul {
		padding-bottom: 5px;
	}
}

@media only screen and (max-width: 768px) {
	/*ul.product-items li .product-item .product-item-caption a {
		z-index: -1;
	}*/
}

@media only screen and (max-width: 720px) {
	.product-header {
		width: 100%;
	}

	.product-header::before {
		display: none;
	}

	.product-header-content {
		margin: 0px;
		position: relative;
	}

	.product-header-title, .product-header-desc {
		width: 100%;
		max-width: 350px;
	}

	ul.product-items li {
		width: 50%;
	}

	ul.product-items li:nth-of-type(24n+1),
	ul.product-items li:nth-of-type(24n-14) {
		width: 50%;
		float: left;
		text-align: left;
	}

	ul.product-items li:nth-of-type(24n-14)::before {
		padding-top: 100%;
	}

	ul.product-items li:nth-of-type(24n+1) .product-item .product-item-caption,
	ul.product-items li:nth-of-type(24n-14) .product-item .product-item-caption {
		padding: 20px;
	}

	ul.product-icons li {
		width: auto;
		padding-right: 5px;
	}

	ul.product-icons li:first-child {
	    padding-right: 10px;
	    width: auto;
	    float: left;
	}
}

@media only screen and (max-width: 640px) {
	/*ul.product-items li,
	ul.product-items li:nth-of-type(24n+1),
	ul.product-items li:nth-of-type(24n-14) {
		width: 100%;
	}

	ul.product-icons li {
		width: auto;
		padding-right: 5px;
	}

	ul.product-icons li:first-child {
	    padding-right: 10px;
	    width: auto;
	    float: left;
	}*/
}


/*===========================================================================
7.1 Product Category
===========================================================================*/

section#product-cat h2:first-child {
	padding: 0px;
}

.cat-landing {
	width: 100%;
}

.cat-landing::after {
	content: '';
	display: block;
	clear: both;
}

.cat-landing-left, .cat-landing-right {
	float: left;
}

.cat-landing-left {
	width: 40%;
}

.cat-landing-right {
	width: 60%;
	position: relative;
}

.cat-landing-right img {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.product-cat-caption, .product-cat-image {
	/*max-width: 640px;*/
	width: 100%;
}

.product-cat-caption {
	background-color: #B23662;
	padding: 120px 80px 85px;
}

.product-cat-caption p {
	font-size: 18px;
	padding: 10px 0px 25px;
}

.product-cat-caption, .product-cat-caption h2 {
	color: #FFF;
}

.product-cat-image {
	/*height: 480px;*/
}

.product-cat-image img {
	width: 100%;
	/*min-height: 100%;*/
}

.btn-category {
	padding: 10px 20px;
}

@media only screen and (max-width: 960px) {
	.cat-landing-left, .cat-landing-right {
		width: 100%;
	}

	.cat-landing-right {
		height: auto !important;
	}

	.cat-landing-right img {
		position: relative;
		top: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}

	.product-cat-caption {
		padding: 60px 40px;
	}
}


/*===========================================================================
7.2 Product Detail
===========================================================================*/

section#product-detail h2, section#product-detail h3 {
	text-align: center;
	color: #414042;
}

section#product-detail h2 {
	padding: 0px 0px 20px;
	font-size: 30px;
}

section#product-detail h3 {
	font-size: 26px;
}

ul.product-detail {
	overflow: hidden;
	padding-bottom: 55px;
}

ul.product-detail li {
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
}

ul.product-detail li::before {
	content: '';
	display: block;
	padding-top: 100%;
}

ul.product-detail li .product-detail-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

ul.product-detail li:first-child .product-detail-content img {
	width: 100%;
	min-height: 100%;
}

ul.product-detail li:last-child .product-detail-content {
	padding-top: 25px;
}

ul.product-detail li:last-child .product-detail-content .btn-back {
	color: #A7A9AC;
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

ul.product-detail li:last-child .product-detail-content h5 {
	display: inline-block;
	color: #A7A9AC;
	font-size: 18px;
} 

ul.product-detail li:last-child .product-detail-content img {
	display: inline-block;
	background-color: #F9F9F9;
	width: 60%;
}

ul.product-detail li:last-child .product-detail-content p {
	width: 50%;
	margin: 10px auto;
}

ul.product-detail li ul.product-icons {
	padding-top: 10px;
}

ul.product-detail li ul.product-icons li {
	width: auto;
	padding-right: 5px;
	display: inline-block;
	float: none;
}

ul.product-detail li ul.product-icons li:first-child {
	padding-right: 10px;
	width: auto;
}

ul.product-detail li ul.product-icons li::before {
	display: none;
}

ul.more-product-items {
	padding-top: 20px;
}

ul.more-product-items li {
	width: 20%;
	float: left;
	position: relative;
}

ul.more-product-items li::before {
	content: '';
	display: block;
	padding-top: 100%;
}

ul.more-product-items li .product-item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 10px;
	background-color: #F9F9F9;
}

ul.more-product-items li .product-item img {
	width: 100%;
	min-height: 100%;
}

ul.more-product-items li .product-item .product-item-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(109, 110, 113, 0.6);
	color: #FFF;
	/*opacity: 0;*/
	padding: 20px;
	display: none;
}

/*ul.more-product-items li .product-item .product-item-caption:hover {
	opacity: 1;
}*/

ul.more-product-items li .product-item .product-item-caption h5 {
	color: #FFF;
}

ul.more-product-items li .product-item .product-item-caption a {
	/*text-indent: -9999px;*/
	overflow: hidden;
	/*position: absolute;*/
	top: 0;
	left: 0;
	/*width: 100%;
	height: 100%;*/
}

ul.more-product-items li ul.product-icons li {
	width: auto;
	padding-right: 5px;
}

ul.more-product-items li ul.product-icons li:first-child {
	padding-right: 10px;
	width: auto;
	float: left;
}

ul.more-product-items li ul.product-icons li::before {
	display: none;
}

@media only screen and (max-width: 720px) {
	ul.product-detail li {
		width: 100%;
	}

	ul.product-detail li:first-child {
		display: none;
	}

	ul.product-detail li::before {
		display: none;
	}

	ul.product-detail li .product-detail-content {
		position: relative;
	}

	ul.more-product-items li {
		width: 50%;
	}
}

/*===========================================================================
8.0 Content Element
===========================================================================*/

.container-element {
	max-width: 720px;
	padding: 20px 15px;
}

/*.container-element h1,
.container-element h2,
.container-element h3,
.container-element h4,
.container-element h5,
.container-element p,
.container-element img {
	padding: 20px 0px;
}*/

.container-element h4 {
	font-size: 24px;
}

.container-element h5 {
	font-size: 18px;
}

.container-element p {
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
}

.container-element img {
	max-width: 100%;
	display: inline-block;
}

.content-img-full img {
	width: 100%;
}

.content-text-img-left::after,
.content-text-img-right::after {
	content: '';
	display: block;
	clear: both;
}

.content-text-img-left img {
	float: left;
}

.content-text-img-right img {
	float: right;
}

.content-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.content-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-center img {
	margin: 0px auto;
}

/*temporary pukul rata tengah*/
/*section#content-element .container {
	text-align: center;
}

section#content-element img {
	margin: 0px auto;
}*/


/*===========================================================================
9.0 Profile
===========================================================================*/

section#profile .container {
	text-align: center;
	width: 100%;
	max-width: 720px;
	margin: 0px auto;
}

.profile-primary {
	padding-bottom: 50px;
}

.profile-primary::after {
	content: '';
	display: block;
	clear: both;
}

.profile-img {
	width: 200px;
	margin: 0px auto;
	float: left;
}

.profile-img-container {
	background-color: #D1D3D4;
	width: 100%;
	height: 200px;
	display: inline-block;
}

.profile-img-container img {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.btn-edit-profpic {
	background-color: #F1F2F2;
	color: #58595B;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

ul.profile-details {
	text-align: left;
	float: left;
	width: -webkit-calc(100% - 200px);
	width: -moz-calc(100% - 200px);
	width: calc(100% - 200px);
}

ul.profile-details li {
	padding: 0px 10px;
}

.profile-detail {
	height: 55px;
	line-height: 55px;
	border-bottom: 2px solid #A7A9AC;
}

.profile-detail::after {
	content: '';
	display: block;
	width: 18px;
	height: 53px;
	background: url('../images/gembok.png') no-repeat right;
	background-size: contain;
	float: right;
	margin-right: 20px;
}

ul.profile-details li:first-child .profile-detail {
	color: #B23662;
	font-size: 26px;
	border-color: #B23662;
	font-family: "Playfair Display", serif;
}

ul.profile-details li:first-child .profile-detail::after {
	display: none;
}

.profile-title {
	text-align: left;
	padding: 20px 20px 5px;
}

.profile-title-top {
	padding: 50px 20px 5px;
}

.profile-secondary {
	background-color: #F7F7F7;
	padding: 10px;
}

.form-profile-change {
	color: #58595B;
}

.profile-account {
	background-color: #FFF;
	padding: 0px 20px;
}

.profile-secondary ul {
	padding-bottom: 20px;
}

.profile-secondary ul::after {
	content: '';
	display: block;
	clear: both;
}

.profile-secondary ul li {
	float: left;
	width: 33.3333%;
	padding: 0px 10px;
}

.profile-account ul li {
	padding: 0px 5px 10px;
	text-align: left;
}

.profile-item {
	background: transparent url('../images/icon-pencil.png') no-repeat 95%;
	background-size: 24px 24px;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #A7A9AC;
	padding: 0px 17px;
}

.account-item {
	background: #F7F7F7 url('../images/icon-pencil.png') no-repeat 95%;
	background-size: 24px 24px;
	color: #58595B;
	width: 100%;
	height: 40px;
	padding: 0px 15px;
}

select.account-item {
	background: #F7F7F7 url('../images/angle-down.png') no-repeat 95%;
	background-size: 24px 24px;
	height: 40px;
	cursor: pointer;
	/*text-indent: -2px;*/
}

.account-date {
	background: #F7F7F7 url('../images/icon-calendar.png') no-repeat 95%;
	background-size: 24px 24px;
	height: 40px;
	cursor: pointer;
}

.ui-widget-header {
	background: #B23662;
	border-color: #B23662;
}

.ui-datepicker-title select {
	background: transparent url('../images/angle-down-white.png') no-repeat 70%;
	background-size: 18px 18px;
	cursor: pointer;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-prev .ui-icon::after {
	content: '\f104';
	left: 0;
}

.ui-datepicker-next .ui-icon::after {
	content: '\f105';
	right: 0;
}

.ui-icon::after {
	font-family: 'FontAwesome';
	text-indent: 0;
	position: absolute;
	top: 0;
	display: block;
}

.profile-secondary button {
	margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
	.profile-img {
		float: none;
	}

	ul.profile-details {
		width: 100%;
	}

	.profile-secondary ul li {
		width: 100%;
	}
}


/*===========================================================================
10.0 Our Stores
===========================================================================*/

section#our-stores {
	text-align: center;
}

.store-img {
	max-width: 960px;
	width: 100%;
	/*height: 380px;*/
	position: relative;
}

.store-img img {
	width: 100%;
	/*height: 100%;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);*/
}

.store-cols {
	padding-top: 50px;
}

.store-cols::after, .store-contacts::after {
	content: '';
	display: block;
	clear: both;
}

.store-col {
	float: left;
}

.store-col:first-child {
	width: 30%;
}

.store-col:last-child {
	width: 70%;
}

.store-cities, .store-contacts {
	text-align: left;
}

.store-city {
	display: block;
	line-height: 50px;
	width: 200px;
	background-color: #B23662;
	text-transform: uppercase;
	font-family: 'Montserrat Light', arial;
	font-size: 20px;
	color: #FFF;
	text-align: left;
	padding: 0px 20px;
}

.store-city:hover,
.store-city.active {
	background-color: #591B31;
	width: 220px;
}

.store-contact {
	float: left;
	width: 33.3333%;
	padding: 0px 10px;
	/*height: 150px;*/
	margin-bottom: 50px;
	color: #58595B;
}

@media only screen and (max-width: 768px) {
	.store-city {
		width: 90%;
		font-size: 16px;
	}

	.store-city:hover,
	.store-city.active {
		width: 100%;
	}

	.store-contact {
		width: 50%;
	}
}

@media only screen and (max-width: 480px) {
	.store-city {
		font-size: 12px;
		padding: 0px 7px;
	}

	.store-contact {
		width: 100%;
		padding-left: 20px;
	}
}


/*===========================================================================
10.0 Diamond Education
===========================================================================*/

section#education, section#education p {
	color: #58595B;
	font-size: 16px;
}

section#education .bx-wrapper {
	margin: 30px auto 10px;
}

section#education .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
	height: 300px !important;
}

.education-buttons {
	text-align: center;
	padding-top: 5px;
}

.btn-education {
	display: inline-block;
	width: 100%;
	max-width: 180px;
	line-height: 60px;
	font-size: 18px;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

.content-education {
	display: none;
	margin-top: 50px;
}

.education-slider-wrapper {
	max-width: 660px;
	width: 100%;
	margin: 0px auto;
}

ul.education-slider, ul.education-slider li {
	height: 100%;
	width: 100% !important;
}

ul.education-slider li img {
	width: 100%;
	min-height: 100%;
}

.education-pager a {
	width: 60px;
	height: 60px;
	display: inline-block;
	opacity: 0.25;
	overflow: hidden;
}

.education-pager a.active {
	opacity: 1;
}

.education-pager a img {
	width: 100%;
	min-height: 100%;
}

section#education ul.news-items {
	margin: 20px 0px;
}

.education-desc {
	width: 100%;
	max-width: 660px;
	margin: 10px auto;
}

.gia-scale {
	width: 100%;
	max-width: 660px;
	margin: 50px auto 20px;
}

.gia-scale img {
	width: 100%;
}

/*===========================================================================
11.0 Error 404
===========================================================================*/

section#error404 {
	min-height: 100vh;
}

.error-content {
	color: #B23662;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 24px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.error-title {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.btn-error-back {
	max-width: 240px;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*Temporary take outs*/
#btn-cart, #btn-cart-mobile,
#btn-magic, #btn-magic-mobile,
.banner-magic {
	display: none;
}

#toolbar-administration, .visually-hidden.focusable{
	display: none;
}