<footer>
            <div class="fullBox container">
                <div class="halfBox">
                    &copy; 2020 Hak Cipta oleh PT Nestl&egrave; Indonesia dilindungi undang-undang. Tidak diperkenankan mengambil materi/isi website dan mempublikasikan dalam bentuk apapun tanpa izin tertulis dari PT Nestl&egrave; Indonesia. Saran, komentar, dan pertanyaan mengenai website ditujukan ke sahabat.nestle@id.nestle.com atau kontak kami.
                </div>
                <div class="halfBox">
                    <span>NESTLE CONSUMER SERVICES</span>
                    Monday - Sunday<br>
                    08.00 - 24.00 WIB<br>
                    080018-21028
                    <div class="footerRight">
                        <ul>
                            <li><a href="https://id-id.facebook.com/dolcegustoid/" target="_blank"><img src="{{ base_url }}/themes/dolcegusto/images/icon_facebook.png"></a></li>
                            <li><a href="https://twitter.com/dolcegustoid" target="_blank"><img src="{{ base_url }}/themes/dolcegusto/images/icon_twitter.png"></a></li>
                            <li><a href="https://www.instagram.com/dolcegustoid/?hl=id" target="_blank"><img src="{{ base_url }}/themes/dolcegusto/images/icon_instagram.png"></a></li>
                        </ul>
                        <a href="{{ base_url }}/terms">TERMS &amp; CONDITIONS</a><br><a href="{{ base_url }}/privacy_policy">PRIVACY POLICY</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
