<style>
.user_name:hover {
    color: #FCB409;
    text-decoration: underline;
}
header .headerBottom .loginBtn:hover {
    color: #FCB409;
}
</style>
<div class="wrapper">
        <header>
            <div class="fullBox container">
                <div class="headerTop">
                    <h1><a href="https://dolce-gusto.sahabatnestlerewards.co.id/" id="logo_ndg">Nestle Dolce Gusto</a></h1>
                    {#<h2><a href="#" id="logo_snr">Sahabat Nestle Rewards</a></h2>#}
                    <div class="ht_right">
                        {# <div class="searchBox">
                            <input type="text" name="search">
                            <input type="submit" name="searchButton">
                        </div> #}
                        <a href="{{ base_url }}/guest/redeem" class="cartBtn">Cart {% if cart %}<span id="cartCount">{{ cart }}</span>{% endif %}</a>
                        <div class="menuBtn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                </div>
                <div class="headerBottom">
                    <nav class="navtop">
                        <ul>
                            <li><a href="https://dolce-gusto.sahabatnestlerewards.co.id/">Home</a></li>
                            {# <li>
                                <a href="#" class="toggle_btn">Products</a>
                                <ul>
                                    {% for about in about_ndg %}
                                    <li><a href="{{ about.link }}" target="_blank">{{ about.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li> #}
                            {# <li><a href="#">About Program</a></li> #}
                            
                            <li><a href="#" class="toggle_btn">NDG Club</a>
                                <ul>
                                    {% for club in ndg_club %}
                                    <li><a href="{{ club.link }}">{{ club.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
							<li><a href="http://coffeeclub.co.id/" target="_blank">SUBSCRIPTION</a></li>
                            <li><a href="#" class="toggle_btn">Shop Online</a>
                                <ul>
                                    {% for shop in online_shop %}
                                    <li><a href="{{ shop.link }}" target="_blank">{{ shop.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="https://n1866.secure.force.com/contactus/CU_Home?Brand=NESCAF%C3%89+Dolce+Gusto&consumerContactOrigin=https%3A%2F%2Fdolce-gusto.sahabatnestlerewards.co.id%2F&country=Indonesia&countryCode=62&language=id&market=ID&selectedLanguage=Indonesian">Contact Us</a></li>
                            <li><a href="https://dolce-gusto.sahabatnestlerewards.co.id/faq">FAQs</a></li>
                            <li class="mobile"><a href="{{ base_url }}/guest/logout" >Logout</a></li>
                        </ul>
                    </nav>
                    {% if user_login %}

                    <a href="{{ base_url }}/guest/profile" class="user_name">Hi, {{ user_login.firstname }} {{ user_login.lastname }}! ({{ user_login.point }} Points)</a>
                    <a href="{{ base_url }}/guest/logout" class="loginBtn desktop">Logout</a>
                    <a href="{{ base_url }}/guest/profile" class="loginBtn mobile">Hi, {{ user_login.firstname }} {{ user_login.lastname }}! ({{ user_login.point }} Points)</a>

                    {% else %}
                    <a href="{{ login_url }}" class="loginBtn">Login</a>
                    {% endif %}
                </div>
            </div>
        </header>
