<div class="redeem_menu">
						<ul>
							<li><a href="{{ base_url }}/guest/profile" class="active">My Profile</a></li>
							<li><a href="{{ base_url }}/guest/submitpoint">Submit Points</a></li>
							<li><a href="{{ base_url }}/guest/pointbalance">Points  Balance</a></li>
							<li><a href="{{ base_url }}/guest/redeem">Redeem Points</a></li>
						</ul>
					</div>
